In [481]:
import pandas as pd
import pmdarima as pm
from pmdarima.arima import auto_arima

In [482]:
df1 = pd.read_csv('df.csv')

In [483]:
df1.head()

,Unnamed: 0,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,...,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,CMPLNT_FR_DTTM
0,172,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,FELONY,BRONX,NaN,TRANSIT - NYC SUBWAY,...,1010257.0,248767.0,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F,2018-06-09 15:54:00
1,226,03/01/2018,08:47:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,988874.0,207673.0,18-24,M,PATROL BORO MAN SOUTH,14 STREET,25-44,ASIAN / PACIFIC ISLANDER,F,2018-03-01 08:47:00
2,413,05/19/2018,12:25:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,990886.0,213048.0,45-64,M,PATROL BORO MAN SOUTH,42 ST.-GRAND CENTRAL,25-44,WHITE,F,2018-05-19 12:25:00
3,717,11/04/2018,00:00:00,DANGEROUS WEAPONS,WEAPONS POSSESSION 3,COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,980772.0,194845.0,25-44,M,PATROL BORO MAN SOUTH,SOUTH FERRY,65+,BLACK,M,2018-11-04 00:00:00
4,844,01/18/2018,12:23:00,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 3,POSSESSION",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,989294.0,215445.0,25-44,M,PATROL BORO MAN SOUTH,47-50 STS./ROCKEFELLER CTR.,25-44,WHITE,M,2018-01-18 12:23:00

In [484]:
df1 = df1.loc[df1["PREM_TYP_DESC"] == 'TRANSIT - NYC SUBWAY']

In [485]:
df1.PREM_TYP_DESC.value_counts()

TRANSIT - NYC SUBWAY    20139
Name: PREM_TYP_DESC, dtype: int64

In [486]:
df1.isnull().sum()

Unnamed: 0               0
CMPLNT_FR_DT             0
CMPLNT_FR_TM             0
OFNS_DESC               70
PD_DESC                  0
CRM_ATPT_CPTD_CD         0
LAW_CAT_CD               0
BORO_NM                 25
LOC_OF_OCCUR_DESC    20102
PREM_TYP_DESC            0
PARKS_NM             20137
HADEVELOPT           20139
X_COORD_CD              25
Y_COORD_CD              25
SUSP_AGE_GROUP           0
SUSP_SEX                18
PATROL_BORO              0
STATION_NAME             0
VIC_AGE_GROUP            0
VIC_RACE                 0
VIC_SEX                  0
CMPLNT_FR_DTTM           0
dtype: int64

In [487]:
df1 = df1.loc[df1["VIC_SEX"] != 'D']

In [488]:
df1 = df1.loc[df1["VIC_SEX"] != 'E']

In [489]:
df1.VIC_SEX.value_counts()

F    11734
M     8403
Name: VIC_SEX, dtype: int64

In [490]:
df1.CMPLNT_FR_DT.min()

'01/01/2006'

In [491]:
df1.CMPLNT_FR_DT.max()

'12/31/2020'

In [492]:
df1.BORO_NM.value_counts()

MANHATTAN    9030
BROOKLYN     5823
BRONX        2959
QUEENS       2300
Name: BORO_NM, dtype: int64

In [493]:
df1.STATION_NAME.value_counts()

125 STREET                        619
14 STREET                         520
42 ST.-TIMES SQUARE               431
42 ST.-GRAND CENTRAL              416
59 ST.-COLUMBUS CIRCLE            350
34 ST.-PENN STATION               265
96 STREET                         262
59 STREET                         261
JAY STREET-BOROUGH HALL           246
86 STREET                         244
ATLANTIC AVENUE                   230
CANAL STREET                      225
42 ST.-PORT AUTHORITY BUS TERM    224
145 STREET                        217
FULTON STREET                     211
72 STREET                         210
149 ST.-GRAND CONCOURSE           203
BROADWAY-EAST NEW YORK            198
161 ST.-YANKEE STADIUM            197
FRANKLIN AVENUE                   195
W. 4 STREET                       192
23 STREET                         171
116 STREET                        170
ROOSEVELT AVE.-JACKSON HEIGHTS    161
DEKALB AVENUE                     160
HOYT-SCHERMERHORN                 160
UNION SQUARE                      149
PACIFIC STREET                    145
CHURCH AVENUE                     138
BROOKLYN BRIDGE-CITY HALL         137
103 STREET                        135
STILLWELL AVENUE-CONEY ISLAND     135
UTICA AVE.-CROWN HEIGHTS          134
34 ST.-HERALD SQ.                 132
50 STREET                         130
NOSTRAND AVENUE                   130
BROADWAY-EASTERN PKWY             128
14 ST.-UNION SQUARE               127
3 AVENUE-149 STREET               114
135 STREET                        112
UTICA AVENUE                      112
167 STREET                        112
MAIN ST.-FLUSHING                 110
BOROUGH HALL                      110
LEXINGTON AVE.                    108
7 AVENUE                          106
71 AVE.-FOREST HILLS              105
42 STREET                         102
BROADWAY/NASSAU                   102
ROCKAWAY AVENUE                   100
36 STREET                          98
168 ST.-WASHINGTON HTS.            96
EAST 180 STREET                    95
PARSONS/ARCHER-JAMAICA CENTER      95
FORDHAM ROAD                       94
170 STREET                         91
28 STREET                          90
MYRTLE AVENUE                      89
QUEENSBORO PLAZA                   89
CHAMBERS ST.-WORLD TRADE CENTE     86
HUNTS POINT AVENUE                 86
57 STREET                          84
VAN SICLEN AVENUE                  83
LEXINGTON AVENUE                   82
QUEENS PLAZA                       82
CHAMBERS STREET                    81
74 ST.-BROADWAY                    81
SUTPHIN BLVD.-ARCHER AVE.          81
5 AVENUE                           80
DELANCEY STREET                    78
GRAND STREET                       77
47-50 STS./ROCKEFELLER CTR.        77
EUCLID AVENUE                      76
110 ST.-CENTRAL PARK NORTH         75
KINGS HIGHWAY                      74
51 STREET                          74
8 AVENUE                           73
LORIMER STREET                     72
PROSPECT AVENUE                    72
ESSEX STREET                       69
PROSPECT PARK                      68
JACKSON AVENUE                     67
BROADWAY/LAFAYETTE                 67
33 STREET                          67
WOODLAWN                           66
34 STREET                          66
3 AVENUE-138 STREET                65
EAST TREMONT AVE.-WEST FARMS S     64
SIMPSON STREET                     64
EAST 174 STREET                    64
110 STREET                         63
1 AVENUE                           61
155 STREET                         61
UNION TURNPIKE-KEW GARDENS         61
110 ST.-CATHEDRAL PKWY.            60
BOWLING GREEN                      60
EAST 177 ST.-PARKCHESTER           59
BURNSIDE AVENUE                    59
BEDFORD AVENUE                     58
KINGSBRIDGE ROAD                   57
77 STREET                          57
NEW LOTS AVENUE                    55
HALSEY STREET                      55
HIGH STREET                        55
CLINTON-WASHINGTON AVENUES         54
181 STREET                         54
MARCY AVENUE                       53
FLATBUSH AVE.-BROOKLYN COLLEGE     53
WOODHAVEN BLVD.                    53
2 AVENUE                           52
PELHAM PKWY.                       52
ROCKAWAY PKWY-CANARSIE             52
GUN HILL ROAD                      52
FLUSHING AVENUE                    50
BRIGHTON BEACH                     49
SUTTER AVENUE                      49
NEVINS STREET                      49
66 ST.-LINCOLN CENTER              48
68 ST.-HUNTER COLLEGE              47
EAST 149 STREET                    47
SUTPHIN BLVD.                      47
138 ST.-GRAND CONCOURSE            47
SPRING STREET                      46
BLEECKER STREET                    45
MYRTLE/WYCKOFF AVENUES             45
PARSONS BLVD.                      45
SOUNDVIEW AVENUE                   45
MOSHOLU PKWY.                      45
EAST BROADWAY                      45
182-183 STREETS                    44
BERGEN STREET                      44
BROOK AVENUE                       44
FREEMAN STREET                     43
GATES AVENUE                       43
PELHAM BAY PARK                    43
137 ST.-CITY COLLEGE               43
ST. LAWRENCE AVENUE                43
61 ST.-WOODSIDE                    42
SOUTH FERRY                        42
49 STREET                          42
JUNCTION BLVD.                     42
KINGSTON-THROOP AVENUES            42
179 ST.-JAMAICA                    41
46 STREET                          41
4 AVENUE-9 STREET                  41
ALABAMA AVENUE                     41
METROPOLITAN AVENUE                40
GRAND ARMY PLAZA                   40
SUTTER AVENUE-RUTLAND ROAD         39
21 ST.-QUEENSBRIDGE                39
82 ST.-JACKSON HEIGHTS             39
TREMONT AVENUE                     39
NEWKIRK AVENUE                     38
LAFAYETTE AVENUE                   37
BAY PARKWAY                        37
MT. EDEN AVENUE                    37
ALLERTON AVENUE                    37
200 ST.-DYCKMAN ST.                37
LAWRENCE STREET                    37
169 STREET                         36
205 ST.-NORWOOD                    36
BROAD CHANNEL                      36
BEDFORD-NOSTRAND AVENUES           36
ELMHURST AVE.                      36
191 STREET                         35
ELDER AVENUE                       35
183 STREET                         35
79 STREET                          35
EASTERN PKWY-BROOKLYN MUSEUM       35
241 ST.-WAKEFIELD                  35
174-175 STREETS                    34
LIBERTY AVENUE                     34
CHAUNCEY STREET                    34
INTERVALE AVENUE                   34
LIVONIA AVENUE                     34
CARROLL STREET                     34
BEDFORD PK. BLVD.                  34
WHITLOCK AVENUE                    34
207 ST.-INWOOD                     33
MORGAN AVENUE                      33
111 STREET                         33
KOSCIUSKO STREET                   33
148 ST.-HARLEM                     33
CHRISTOPHER ST.-SHERIDAN SQ.       33
FAR ROCKAWAY-MOTT AVE.             32
PARK PLACE                         32
81 ST.-MUSEUM OF NATURAL HISTO     32
RALPH AVENUE                       32
GRANT AVENUE                       32
FORT HAMILTON PKWY                 32
PARKSIDE AVENUE                    31
WILSON AVENUE                      31
CYPRESS AVENUE                     30
YORK STREET                        30
WALL STREET                        30
176 STREET                         30
219 STREET                         29
175 STREET                         29
242 ST.-VAN CORTLANDT PARK         29
AVENUE "U"                         29
JEFFERSON STREET                   29
ROCKAWAY BLVD.                     29
BURKE AVENUE                       28
HOYT STREET                        28
EAST 105 STREET                    28
WEST 8 STREET-NY AQUARIUM          27
ASTOR PLACE                        27
PRESIDENT STREET                   27
9TH STREET                         27
COURT SQUARE                       27
EAST TREMONT AV.-WESTCHESTER S     27
MONTROSE AVENUE                    27
103 ST.-CORONA PLAZA               27
23 STREET-ELY AVENUE               26
BUSHWICK AVE.-ABERDEEN ST.         26
BAY 50 STREET                      26
18 AVENUE                          26
EAST 143 ST.-ST. MARY'S STREET     26
PENNSYLVANIA AVENUE                25
PRINCE STREET                      25
STERLING STREET                    25
8 ST.-NYU                          25
6 AVENUE                           25
SMITH-9 STREETS                    25
GRAND AVE.-NEWTON                  25
WINTHROP STREET                    25
DITMARS BLVD.-ASTORIA              25
90 ST.-ELMHURST AVE.               24
STEINWAY ST.                       24
JAMAICA-VAN WYCK                   24
CRESCENT STREET                    24
BROADWAY                           24
RECTOR STREET                      24
157 STREET                         24
WILLETS POINT-SHEA STADIUM         23
JUNIUS STREET                      23
WHITEHALL ST.-SOUTH FERRY          23
COURT STREET                       23
3 AVENUE                           23
15 ST.-PROSPECT PARK               23
116 ST.-COLUMBIA UNIVERSITY        23
VAN WYCK BLVD.-BRIARWOOD           22
BOWERY                             22
KINGSTON AVENUE                    22
LEFFERTS BLVD.                     22
MYRTLE-WILLOUGHBY AVENUES          22
BEACH 60 STREET                    22
HEWES STREET                       22
67 AVENUE                          22
96TH STREET                        21
CLARK STREET                       21
UNION STREET                       21
VERNON BLVD.-JACKSON AVE.          21
BROAD STREET                       21
CORTELYOU ROAD                     20
NORTHERN BLVD.                     20
BEACH 67 STREET                    20
SHEEPSHEAD BAY                     20
LONGWOOD AVENUE                    20
CASTLE HILL AVENUE                 20
7TH AVENUE                         20
WYCKOFF AVENUE                     20
AVENUE "J"                         20
BOTANIC GARDEN                     20
SARATOGA AVENUE                    20
BEACH 25 STREET                    20
45 STREET                          19
25 STREET                          19
BRONX PARK EAST                    19
HOWARD BEACH-JFK AIRPORT           19
ZEREGA AVENUE                      19
CLASSON AVENUE                     19
GRAHAM AVENUE                      19
AVENUE "M"                         19
BEDFORD PK. BLVD.-LEHMAN COLLE     19
238 ST.-NEREID AVE.                19
CLEVELAND STREET                   18
BAYCHESTER AVENUE                  18
75 AVENUE                          18
231 STREET                         17
SHEPHERD AVENUE                    17
NORWOOD AVENUE                     17
CYPRESS HILLS                      17
NASSAU AVENUE                      17
WEST 34 STREET/HUDSON YARDS        17
88 STREET                          16
20 AVENUE                          16
25 AVENUE                          16
225 ST.-MARBLE HILL                16
225 STREET                         16
121 STREET                         16
CENTRAL AVENUE                     15
BEVERLEY ROAD                      15
ROOSEVELT ISLAND                   15
72ND STREET                        15
53 STREET                          15
207 STREET                         15
233 STREET                         15
163 ST.-AMSTERDAM AVE.             15
45 ROAD-COURT HOUSE SQUARE         15
CITY HALL                          15
63 DRIVE-REGO PARK                 15
9 AVENUE                           15
HOUSTON STREET                     14
GREENPOINT AVENUE                  14
CORTLANDT STREET                   14
BUHRE AVENUE                       14
DYRE AVE.-EASTCHESTER              14
80 STREET                          14
62 STREET                          13
238 STREET                         13
MIDDLETOWN ROAD                    13
BEACH 44 STREET                    13
40 STREET                          13
NEW UTRECHT AVENUE                 13
BAY RIDGE AVENUE                   13
NEPTUNE AVENUE                     12
FRANKLIN STREET                    12
71 STREET                          12
BEVERLY ROAD                       12
18 STREET                          12
69 STREET                          12
OCEAN PKWY                         11
65 STREET                          11
BEACH 36 STREET                    11
190 STREET                         11
86TH STREET                        10
KNICKERBOCKER AVENUE               10
75 ST.-ELDERTS LANE                10
NECK ROAD                          10
ASTORIA BLVD.                      10
AQUEDUCT-NORTH CONDUIT AVE.         9
55 STREET                           9
DISTRICT 1 OFFICE                   9
30 AVENUE                           9
52 STREET                           9
MORRIS PARK                         8
HUNTERS POINT AVENUE                8
BEACH 90 STREET                     8
AVENUE "I"                          8
FRESH POND ROAD                     7
21 STREET                           7
DITMAS AVENUE                       7
AVENUE "H"                          7
215 STREET                          7
SENECA AVENUE                       7
39 AVENUE                           7
95 STREET-BAY RIDGE                 7
DISTRICT 11 OFFICE                  6
102 STREET                          6
AVENUE "P"                          6
DISTRICT 33 OFFICE                  6
85 ST.-FOREST PKWY.                 6
FOREST AVENUE                       5
AVENUE "X"                          5
AVENUE "N"                          4
ROCKAWAY PARK-BEACH 116 ST.         4
DISTRICT 3 OFFICE                   4
DISTRICT 2 OFFICE                   3
DISTRICT 20 OFFICE                  3
104 STREET                          3
DISTRICT 4 OFFICE                   3
BEACH 98 STREET                     3
DISTRICT 30 OFFICE                  2
AQUEDUCT-RACETRACK                  2
DISTRICT 32 OFFICE                  2
DISTRICT 34 OFFICE                  1
36 AVENUE                           1
BEACH 105 STREET                    1
DISTRICT 12 OFFICE                  1
Name: STATION_NAME, dtype: int64

In [494]:
df1.STATION_NAME.nunique()

370

In [495]:
#taking out least common stations for crime

df1 = df1.loc[df1["STATION_NAME"] != 'BEACH 105 STREET']

In [496]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 34 OFFICE']

In [497]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 12 OFFICE']

In [498]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 32 OFFICE']

In [499]:
df1 = df1.loc[df1["STATION_NAME"] != '36 AVENUE']

In [500]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 30 OFFICE']

In [501]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 2 OFFICE']

In [502]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 4 OFFICE']

In [503]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 20 OFFICE']

In [504]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 3 OFFICE']

In [505]:
df1 = df1.loc[df1["STATION_NAME"] != 'AQUEDUCT-RACETRACK']

In [506]:
df1 = df1.loc[df1["STATION_NAME"] != 'BEACH 98 STREET']

In [507]:
df1 = df1.loc[df1["STATION_NAME"] != 'AVENUE "N"']

In [508]:
df1 = df1.loc[df1["STATION_NAME"] != 'ROCKAWAY PARK-BEACH 116 ST.']

In [509]:
df1 = df1.loc[df1["STATION_NAME"] != '104 STREET']

In [510]:
df1 = df1.loc[df1["STATION_NAME"] != 'FOREST AVENUE']

In [511]:
df1 = df1.loc[df1["STATION_NAME"] != 'AVENUE "X"']

In [512]:
df1 = df1.loc[df1["STATION_NAME"] != 'AVENUE "P"']

In [513]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 33 OFFICE']

In [514]:
df1 = df1.loc[df1["STATION_NAME"] != 'DISTRICT 11 OFFICE']

In [515]:
df1 = df1.loc[df1["STATION_NAME"] != '102 STREET']

In [516]:
df1 = df1.loc[df1["STATION_NAME"] != '85 ST.-FOREST PKWY.']

In [517]:
df1.groupby(['BORO_NM'])['PREM_TYP_DESC'].count()

BORO_NM
BRONX        2952
BROOKLYN     5797
MANHATTAN    9020
QUEENS       2266
Name: PREM_TYP_DESC, dtype: int64

In [518]:
df1.groupby(['BORO_NM'])['PREM_TYP_DESC'].value_counts()

BORO_NM    PREM_TYP_DESC
BRONX      TRANSIT - NYC SUBWAY    2952
BROOKLYN   TRANSIT - NYC SUBWAY    5797
MANHATTAN  TRANSIT - NYC SUBWAY    9020
QUEENS     TRANSIT - NYC SUBWAY    2266
Name: PREM_TYP_DESC, dtype: int64

In [519]:
#aggregate most common crimes by borough with groupby 
pd.set_option('display.max_rows', None)
crimes_by_boro = df1.groupby(['BORO_NM'])['OFNS_DESC'].value_counts()
crimes_by_boro

BORO_NM    OFNS_DESC
BRONX      ASSAULT 3 & RELATED OFFENSES        806
           HARRASSMENT 2                       586
           GRAND LARCENY                       439
           ROBBERY                             424
           FELONY ASSAULT                      207
           SEX CRIMES                          159
           OFF. AGNST PUB ORD SENSBLTY &       125
           PETIT LARCENY                        52
           MISCELLANEOUS PENAL LAW              44
           OFFENSES AGAINST PUBLIC ADMINI       44
           DANGEROUS WEAPONS                    17
           CRIMINAL MISCHIEF & RELATED OF       16
           OFFENSES AGAINST THE PERSON           7
           POSSESSION OF STOLEN PROPERTY         7
           JOSTLING                              4
           DANGEROUS DRUGS                       2
           FORGERY                               2
           BURGLARY                              1
           CRIMINAL TRESPASS                     1
           DISORDERLY CONDUCT                    1
           FRAUDS                                1
           FRAUDULENT ACCOSTING                  1
           NEW YORK CITY HEALTH CODE             1
           THEFT OF SERVICES                     1
BROOKLYN   ASSAULT 3 & RELATED OFFENSES       1485
           HARRASSMENT 2                      1390
           ROBBERY                             772
           GRAND LARCENY                       687
           FELONY ASSAULT                      380
           SEX CRIMES                          306
           OFF. AGNST PUB ORD SENSBLTY &       303
           MISCELLANEOUS PENAL LAW             137
           PETIT LARCENY                       101
           OFFENSES AGAINST PUBLIC ADMINI       48
           DANGEROUS WEAPONS                    42
           CRIMINAL MISCHIEF & RELATED OF       41
           POSSESSION OF STOLEN PROPERTY        26
           OFFENSES AGAINST THE PERSON          12
           FORGERY                               8
           JOSTLING                              5
           DANGEROUS DRUGS                       3
           KIDNAPPING & RELATED OFFENSES         3
           RAPE                                  3
           DISORDERLY CONDUCT                    2
           FRAUDS                                2
           FRAUDULENT ACCOSTING                  2
           OTHER OFFENSES RELATED TO THEF        2
           CRIMINAL TRESPASS                     1
           THEFT OF SERVICES                     1
           VEHICLE AND TRAFFIC LAWS              1
MANHATTAN  ASSAULT 3 & RELATED OFFENSES       2329
           HARRASSMENT 2                      2072
           SEX CRIMES                         1124
           GRAND LARCENY                      1076
           ROBBERY                             670
           FELONY ASSAULT                      566
           OFF. AGNST PUB ORD SENSBLTY &       419
           PETIT LARCENY                       188
           MISCELLANEOUS PENAL LAW             105
           POSSESSION OF STOLEN PROPERTY        90
           OFFENSES AGAINST PUBLIC ADMINI       81
           DANGEROUS WEAPONS                    61
           FRAUDULENT ACCOSTING                 60
           CRIMINAL MISCHIEF & RELATED OF       59
           OFFENSES AGAINST THE PERSON          36
           JOSTLING                             23
           FORGERY                              15
           DANGEROUS DRUGS                       8
           FRAUDS                                4
           THEFT OF SERVICES                     3
           THEFT-FRAUD                           2
           BURGLARY                              1
           CHILD ABANDONMENT/NON SUPPORT         1
           CRIMINAL TRESPASS                     1
           KIDNAPPING & RELATED OFFENSES         1
           PROSTITUTION & RELATED OFFENSES       1
           RAPE                                  1
QUEENS     ASSAULT 3 & RELATED OFFENSES        558
           HARRASSMENT 2                       493
           GRAND LARCENY                       324
           ROBBERY                             286
           SEX CRIMES                          213
           FELONY ASSAULT                      148
           OFF. AGNST PUB ORD SENSBLTY &        93
           MISCELLANEOUS PENAL LAW              40
           PETIT LARCENY                        34
           OFFENSES AGAINST PUBLIC ADMINI       16
           CRIMINAL MISCHIEF & RELATED OF       15
           DANGEROUS WEAPONS                    12
           JOSTLING                              9
           OFFENSES AGAINST THE PERSON           9
           POSSESSION OF STOLEN PROPERTY         6
           DANGEROUS DRUGS                       2
           FORGERY                               1
Name: OFNS_DESC, dtype: int64

In [520]:
df1.OFNS_DESC.value_counts()

ASSAULT 3 & RELATED OFFENSES       5186
HARRASSMENT 2                      4548
GRAND LARCENY                      2529
ROBBERY                            2156
SEX CRIMES                         1803
FELONY ASSAULT                     1302
OFF. AGNST PUB ORD SENSBLTY &       940
PETIT LARCENY                       376
MISCELLANEOUS PENAL LAW             326
OFFENSES AGAINST PUBLIC ADMINI      189
DANGEROUS WEAPONS                   132
CRIMINAL MISCHIEF & RELATED OF      131
POSSESSION OF STOLEN PROPERTY       129
OFFENSES AGAINST THE PERSON          64
FRAUDULENT ACCOSTING                 63
JOSTLING                             41
FORGERY                              26
DANGEROUS DRUGS                      15
FRAUDS                                7
THEFT OF SERVICES                     5
KIDNAPPING & RELATED OFFENSES         4
RAPE                                  4
DISORDERLY CONDUCT                    3
CRIMINAL TRESPASS                     3
THEFT-FRAUD                           2
OTHER OFFENSES RELATED TO THEF        2
BURGLARY                              2
VEHICLE AND TRAFFIC LAWS              1
NEW YORK CITY HEALTH CODE             1
CHILD ABANDONMENT/NON SUPPORT         1
PROSTITUTION & RELATED OFFENSES       1
Name: OFNS_DESC, dtype: int64

In [521]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'PROSTITUTION & RELATED OFFENSES', 'OFNS_DESC'] = 'SEX CRIMES'

In [522]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'RAPE'] = 'SEX CRIMES'

In [523]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'THEFT OF SERVICES'] = 'THEFT-FRAUD'

In [524]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'FRAUDS'] = 'THEFT-FRAUD'

In [525]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'BURGLARY'] = 'ROBBERY'

In [526]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'OTHER OFFENSES RELATED TO THEF'] = 'THEFT-FRAUD'

In [527]:
#merging rows together 

df1.loc[df1['OFNS_DESC'] == 'MISCELLANEOUS PENAL LAW'] = 'CRIMINAL MISCHIEF & RELATED OF'

In [528]:
#removing NYC health code. Use drop function for columns, not rows. 

df1 = df1[df1['OFNS_DESC'] != 'NEW YORK CITY HEALTH CODE']

In [529]:
df1.BORO_NM.value_counts()

MANHATTAN                         8906
BROOKLYN                          5652
BRONX                             2904
QUEENS                            2226
CRIMINAL MISCHIEF & RELATED OF     326
THEFT-FRAUD                         14
SEX CRIMES                           4
ROBBERY                              2
Name: BORO_NM, dtype: int64

In [530]:
#removing crime names from borough...it's incorrect data entry 

df1 = df1[df1['BORO_NM'] != 'CRIMINAL MISCHIEF & RELATED OF']

In [531]:
df1 = df1[df1['BORO_NM'] != 'THEFT-FRAUD']

In [532]:
df1 = df1[df1['BORO_NM'] != 'SEX CRIMES']

In [533]:
df1 = df1[df1['BORO_NM'] != 'ROBBERY']

In [534]:
df1.BORO_NM.value_counts()

MANHATTAN    8906
BROOKLYN     5652
BRONX        2904
QUEENS       2226
Name: BORO_NM, dtype: int64

In [535]:
df1 = df1[df1['OFNS_DESC'] != 'VEHICLE AND TRAFFIC LAWS']

In [536]:
df1.OFNS_DESC.value_counts()

ASSAULT 3 & RELATED OFFENSES      5186
HARRASSMENT 2                     4548
GRAND LARCENY                     2529
ROBBERY                           2156
SEX CRIMES                        1804
FELONY ASSAULT                    1302
OFF. AGNST PUB ORD SENSBLTY &      940
PETIT LARCENY                      376
OFFENSES AGAINST PUBLIC ADMINI     189
DANGEROUS WEAPONS                  132
CRIMINAL MISCHIEF & RELATED OF     131
POSSESSION OF STOLEN PROPERTY      129
OFFENSES AGAINST THE PERSON         64
FRAUDULENT ACCOSTING                63
JOSTLING                            41
FORGERY                             26
DANGEROUS DRUGS                     15
KIDNAPPING & RELATED OFFENSES        4
DISORDERLY CONDUCT                   3
CRIMINAL TRESPASS                    3
THEFT-FRAUD                          2
CHILD ABANDONMENT/NON SUPPORT        1
Name: OFNS_DESC, dtype: int64

In [537]:
df1.BORO_NM.value_counts()

MANHATTAN    8906
BROOKLYN     5651
BRONX        2904
QUEENS       2226
Name: BORO_NM, dtype: int64

In [538]:
df1.PD_DESC.count()

19712

In [539]:
#replacing duplicate names 

df1.loc[df1['STATION_NAME'] == '42 ST.-TIMES SQUARE'] = '42 ST.-GRAND CENTRAL'

In [540]:
df1.loc[df1['STATION_NAME'] == '34 ST.-PENN STATION'] = '34 ST.-HERALD SQ.'

In [541]:
df1.loc[df1['STATION_NAME'] == '59 STREET'] = '59 ST.-COLUMBUS CIRCLE'

In [542]:
df1.loc[df1['STATION_NAME'] == '42 ST.-PORT AUTHORITY BUS TERM'] = '42 ST.-GRAND CENTRAL'

In [543]:
df1.loc[df1['STATION_NAME'] == 'UNION SQUARE'] = '14 STREET'

In [544]:
df1.loc[df1['STATION_NAME'] == '3 AVENUE-149 STREET'] = '149 STREET'

In [545]:
df1.loc[df1['STATION_NAME'] == '34 STREET'] = '34 ST.-HERALD SQ.'

In [546]:
df1.loc[df1['STATION_NAME'] == '42 STREET'] = '42 ST.-GRAND CENTRAL'

In [547]:
df1.loc[df1['STATION_NAME'] == '14 STREET'] = '14 ST.-UNION SQUARE'

In [548]:
#removing NYC health code. Use drop function for columns, not rows. 

df1 = df1[df1['STATION_NAME'] != 'DISTRICT 1 OFFICE']

In [549]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 11 OFFICE']

In [550]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 3 OFFICE']

In [551]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 33 OFFICE']

In [552]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 32 OFFICE']

In [553]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 30 OFFICE']

In [554]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 34 OFFICE']

In [555]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 20 OFFICE']

In [556]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 12 OFFICE']

In [557]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 2 OFFICE']

In [558]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 4 OFFICE']

In [559]:
df1 = df1[df1['STATION_NAME'] != 'DISTRICT 30 OFFICE']

In [560]:
#renaming rows using loc. Can rename columns using rename function, but with rows, you have to specify
#where you want to rename it

df1.loc[df1['OFNS_DESC'] == 'OFF. AGNST PUB ORD SENSBLTY &'] = 'OFFENSE AGNST PUBLIC ORDER'

In [561]:
df1.loc[df1['OFNS_DESC'] == 'OFFENSES AGAINST PUBLIC ADMINI'] = 'OFFENSE AGNST PUBLIC ADMIN'

In [562]:
df1.loc[df1['OFNS_DESC'] == 'CHILD ABANDONMENT/NON SUPPORT'] = 'CHILD ABANDONMENT'

In [563]:
df1.loc[df1['OFNS_DESC'] == 'CRIMINAL MISCHIEF & RELATED OF'] = 'CRIMINAL MISCHIEF'

In [564]:
df1.BORO_NM.value_counts()

MANHATTAN                     6512
BROOKLYN                      5224
BRONX                         2614
QUEENS                        2102
OFFENSE AGNST PUBLIC ORDER     842
42 ST.-GRAND CENTRAL           745
14 ST.-UNION SQUARE            660
34 ST.-HERALD SQ.              327
59 ST.-COLUMBUS CIRCLE         257
OFFENSE AGNST PUBLIC ADMIN     169
CRIMINAL MISCHIEF              118
149 STREET                     113
CHILD ABANDONMENT                1
Name: BORO_NM, dtype: int64

In [565]:
#removing crime names from borough...it's incorrect data entry 

df1 = df1[df1['BORO_NM'] != 'OFFENSE AGNST PUBLIC ORDER']

In [566]:
df1 = df1[df1['BORO_NM'] != '42 ST.-GRAND CENTRAL']

In [567]:
df1 = df1[df1['BORO_NM'] != '14 ST.-UNION SQUARE']

In [568]:
df1 = df1[df1['BORO_NM'] != '34 ST.-HERALD SQ.']

In [569]:
df1 = df1[df1['BORO_NM'] != '59 ST.-COLUMBUS CIRCLE']

In [570]:
df1 = df1[df1['BORO_NM'] != 'OFFENSE AGNST PUBLIC ADMIN']

In [571]:
df1 = df1[df1['BORO_NM'] != 'CRIMINAL MISCHIEF']

In [572]:
df1 = df1[df1['BORO_NM'] != '149 STREET']

In [573]:
df1 = df1[df1['BORO_NM'] != 'CHILD ABANDONMENT']

In [575]:
df1.head()

,Unnamed: 0,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,...,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,CMPLNT_FR_DTTM
0,172,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,FELONY,BRONX,NaN,TRANSIT - NYC SUBWAY,...,1.01026e+06,248767,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F,2018-06-09 15:54:00
2,413,05/19/2018,12:25:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,990886,213048,45-64,M,PATROL BORO MAN SOUTH,42 ST.-GRAND CENTRAL,25-44,WHITE,F,2018-05-19 12:25:00
3,717,11/04/2018,00:00:00,DANGEROUS WEAPONS,WEAPONS POSSESSION 3,COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,980772,194845,25-44,M,PATROL BORO MAN SOUTH,SOUTH FERRY,65+,BLACK,M,2018-11-04 00:00:00
4,844,01/18/2018,12:23:00,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 3,POSSESSION",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,...,989294,215445,25-44,M,PATROL BORO MAN SOUTH,47-50 STS./ROCKEFELLER CTR.,25-44,WHITE,M,2018-01-18 12:23:00
5,848,12/29/2018,21:30:00,JOSTLING,JOSTLING,COMPLETED,MISDEMEANOR,BRONX,NaN,TRANSIT - NYC SUBWAY,...,1.00475e+06,240880,45-64,F,PATROL BORO BRONX,161 ST.-YANKEE STADIUM,25-44,BLACK HISPANIC,M,2018-12-29 21:30:00

In [592]:
df1.rename(columns = {'CMPLNT_FR_DT': 'Complaint_Date', 'OFNS_DESC': 'Crime', 'BORO_NM': 'Borough',
                         'SUSP_SEX':'Suspect_Gender', 'VIC_SEX':'Victim_Gender', 'CMPLNT_FR_DTTM': 
                     'Complaint_Date_Time', 'VIC_AGE_GROUP': 'Victim Age', 'PREM_TYP_DESC':
                     'Premises', 'LAW_CAT_CD': 'Offense', 'CMPLNT_FR_TM': 'Complaint_Time',
                     'PD_DESC': 'Crime_Description', 'SUSP_AGE_GROUP': 'Suspect_Age', 
                     'PATROL_BORO': 'Patrol_Borough', 'STATION_NAME': 'Station_Name', 
                     'VIC_RACE': 'Victim_Race', 'LOC_OF_OCCUR_DESC': 'Description_of_Location'}, inplace = True)

In [593]:
df1.head()

,Unnamed: 0,Complaint_Date,Complaint_Time,Crime,Crime_Description,Offense,Borough,Description_of_Location,Premises,X_COORD_CD,Y_COORD_CD,Suspect_Age,Suspect_Gender,Patrol_Borough,Station_Name,Victim Age,Victim_Race,Victim_Gender,Complaint_Date_Time
0,172,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",FELONY,BRONX,NaN,TRANSIT - NYC SUBWAY,1.01026e+06,248767,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F,2018-06-09 15:54:00
2,413,05/19/2018,12:25:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,990886,213048,45-64,M,PATROL BORO MAN SOUTH,42 ST.-GRAND CENTRAL,25-44,WHITE,F,2018-05-19 12:25:00
3,717,11/04/2018,00:00:00,DANGEROUS WEAPONS,WEAPONS POSSESSION 3,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,980772,194845,25-44,M,PATROL BORO MAN SOUTH,SOUTH FERRY,65+,BLACK,M,2018-11-04 00:00:00
4,844,01/18/2018,12:23:00,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 3,POSSESSION",MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,989294,215445,25-44,M,PATROL BORO MAN SOUTH,47-50 STS./ROCKEFELLER CTR.,25-44,WHITE,M,2018-01-18 12:23:00
5,848,12/29/2018,21:30:00,JOSTLING,JOSTLING,MISDEMEANOR,BRONX,NaN,TRANSIT - NYC SUBWAY,1.00475e+06,240880,45-64,F,PATROL BORO BRONX,161 ST.-YANKEE STADIUM,25-44,BLACK HISPANIC,M,2018-12-29 21:30:00

In [594]:
#dropping irrelevant columns:

df1.drop(columns = 'CRM_ATPT_CPTD_CD', inplace = True)

KeyError: "['CRM_ATPT_CPTD_CD'] not found in axis"

In [595]:
df1.drop(columns = 'PARKS_NM', inplace = True)

KeyError: "['PARKS_NM'] not found in axis"

In [590]:
df1.drop(columns = 'HADEVELOPT', inplace = True)

In [605]:
df1.head()

,Complaint_Date,Complaint_Time,Crime,Crime_Description,Offense,Borough,X_COORD_CD,Y_COORD_CD,Suspect_Age,Suspect_Gender,Patrol_Borough,Station_Name,Victim Age,Victim_Race,Victim_Gender,Complaint_Date_Time
0,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",FELONY,BRONX,1.01026e+06,248767,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F,2018-06-09 15:54:00
2,05/19/2018,12:25:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",FELONY,MANHATTAN,990886,213048,45-64,M,PATROL BORO MAN SOUTH,42 ST.-GRAND CENTRAL,25-44,WHITE,F,2018-05-19 12:25:00
3,11/04/2018,00:00:00,DANGEROUS WEAPONS,WEAPONS POSSESSION 3,FELONY,MANHATTAN,980772,194845,25-44,M,PATROL BORO MAN SOUTH,SOUTH FERRY,65+,BLACK,M,2018-11-04 00:00:00
4,01/18/2018,12:23:00,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 3,POSSESSION",MISDEMEANOR,MANHATTAN,989294,215445,25-44,M,PATROL BORO MAN SOUTH,47-50 STS./ROCKEFELLER CTR.,25-44,WHITE,M,2018-01-18 12:23:00
5,12/29/2018,21:30:00,JOSTLING,JOSTLING,MISDEMEANOR,BRONX,1.00475e+06,240880,45-64,F,PATROL BORO BRONX,161 ST.-YANKEE STADIUM,25-44,BLACK HISPANIC,M,2018-12-29 21:30:00

In [599]:
#Removing Premises because they're all the NYC Subway values

df1.drop(columns = 'Premises', inplace = True)

In [602]:
df1.drop(columns = 'Description_of_Location', inplace = True)

In [604]:
df1.drop(columns = 'Unnamed: 0', inplace = True)

In [606]:
#making new csv with cleaned data 

df1.to_csv('df1.csv')