In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import csv

In [14]:
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv', usecols = ['CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD', 'OFNS_DESC', 'PD_DESC', 
                                                               'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC',
                                                               'PREM_TYP_DESC', 'PARKS_NM', 'HADEVELOPT', 'SUSP_AGE_GROUP', 'SUSP_SEX',
                                                               'PATROL_BORO', 'STATION_NAME', 'VIC_AGE_GROUP', 'VIC_AGE_GROUP', 'VIC_RACE', 
                                                               'VIC_SEX'])

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,03/29/2018,20:30:00,32.0,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 4, OF MOTOR",COMPLETED,MISDEMEANOR,MANHATTAN,FRONT OF,PARKING LOT/GARAGE (PUBLIC),NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,NaN,25-44,WHITE,F
1,02/06/2018,23:15:00,52.0,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BRONX,INSIDE,DEPARTMENT STORE,NaN,NaN,45-64,F,PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,D
2,11/21/2018,00:15:00,75.0,PETIT LARCENY,"LARCENY,PETIT FROM AUTO",COMPLETED,MISDEMEANOR,BROOKLYN,FRONT OF,STREET,NaN,NaN,25-44,F,PATROL BORO BKLYN NORTH,NaN,UNKNOWN,UNKNOWN,D
3,06/09/2018,21:42:00,10.0,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,COMPLETED,MISDEMEANOR,MANHATTAN,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,25-44,M,PATROL BORO MAN SOUTH,NaN,18-24,WHITE HISPANIC,F
4,11/10/2018,19:40:00,19.0,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,MANHATTAN,INSIDE,CHAIN STORE,NaN,NaN,<18,F,PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,D

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_FR_DT       object
 1   CMPLNT_FR_TM       object
 2   ADDR_PCT_CD        float64
 3   OFNS_DESC          object
 4   PD_DESC            object
 5   CRM_ATPT_CPTD_CD   object
 6   LAW_CAT_CD         object
 7   BORO_NM            object
 8   LOC_OF_OCCUR_DESC  object
 9   PREM_TYP_DESC      object
 10  PARKS_NM           object
 11  HADEVELOPT         object
 12  SUSP_AGE_GROUP     object
 13  SUSP_SEX           object
 14  PATROL_BORO        object
 15  STATION_NAME       object
 16  VIC_AGE_GROUP      object
 17  VIC_RACE           object
 18  VIC_SEX            object
dtypes: float64(1), object(18)
memory usage: 1.1+ GB

In [6]:
df.isna().sum()

CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
ADDR_PCT_CD             2166
OFNS_DESC              18832
PD_DESC                 6761
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                12480
LOC_OF_OCCUR_DESC    1618063
PREM_TYP_DESC          42015
PARKS_NM             7794644
HADEVELOPT           7477110
SUSP_AGE_GROUP       4883369
SUSP_SEX             3648142
PATROL_BORO             7218
STATION_NAME         7653024
VIC_AGE_GROUP        1638445
VIC_RACE                 390
VIC_SEX                  308
dtype: int64

In [10]:
df.LAW_CAT_CD.value_counts()

MISDEMEANOR    4366279
FELONY         2423773
VIOLATION      1035447
Name: LAW_CAT_CD, dtype: int64

In [11]:
df.HADEVELOPT.value_counts()

CASTLE HILL                 7555
VAN DYKE I                  6108
MARCY                       5597
GRANT                       5296
BUTLER                      5231
                            ...
JEFFERSON                      1
BRONXCHESTER                   1
FRANKLIN AVENUE III MHOP       1
1010 EAST 178TH STREET         1
344 EAST 28TH STREET           1
Name: HADEVELOPT, Length: 279, dtype: int64

In [12]:
df.SUSP_SEX.value_counts()

M    2604455
F     813496
U     759406
Name: SUSP_SEX, dtype: int64

In [19]:
df.SUSP_SEX.drop

KeyError: "['U'] not found in axis"

In [17]:
df.SUSP_SEX.value_counts()

M    2604455
F     813496
U     759406
Name: SUSP_SEX, dtype: int64

In [13]:
df.VIC_AGE_GROUP.value_counts()

25-44      2600860
45-64      1358535
UNKNOWN     802994
18-24       789320
<18         353678
            ...
909              1
917              1
707              1
-923             1
-960             1
Name: VIC_AGE_GROUP, Length: 207, dtype: int64

In [22]:
#df = df.loc[df["VIC_AGE_GROUP"] >= 120 ]

df.drop(df[df['VIC_AGE_GROUP'] >= 110].index, inplace = True)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [15]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            1694758
PATROL BORO BKLYN SOUTH      1159651
PATROL BORO BKLYN NORTH      1154993
PATROL BORO MAN SOUTH         947193
PATROL BORO MAN NORTH         934870
PATROL BORO QUEENS NORTH      810279
PATROL BORO QUEENS SOUTH      754527
PATROL BORO STATEN ISLAND     362010
Name: PATROL_BORO, dtype: int64