In [236]:
import numpy as np
import pandas as pd
import matplotlib as plt
import csv

In [237]:
#make map of coordinates...? 
#put in the alg for time series

In [379]:
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv', usecols = ['CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC', 'PD_DESC', 
                                                               'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC',
                                                               'PREM_TYP_DESC', 'PARKS_NM', 'HADEVELOPT', 'SUSP_AGE_GROUP', 'SUSP_SEX',
                                                               'PATROL_BORO', 'STATION_NAME', 'VIC_AGE_GROUP', 'VIC_RACE', 
                                                               'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD'])

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [239]:
df.tail()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
7825494,05/01/2008,18:55:00,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",COMPLETED,MISDEMEANOR,MANHATTAN,FRONT OF,STREET,NaN,NaN,985209.0,214992.0,45-64,F,PATROL BORO MAN SOUTH,NaN,UNKNOWN,UNKNOWN,E
7825495,05/18/2018,14:50:00,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,COMPLETED,MISDEMEANOR,STATEN ISLAND,NaN,STREET,NaN,NaN,955828.0,149854.0,<18,M,PATROL BORO STATEN ISLAND,NaN,<18,WHITE HISPANIC,M
7825496,11/19/2018,02:25:00,GRAND LARCENY,"LARCENY,GRAND FROM VEHICLE/MOTORCYCLE",COMPLETED,FELONY,QUEENS,FRONT OF,STREET,NaN,NaN,1022372.0,210067.0,UNKNOWN,M,PATROL BORO QUEENS NORTH,NaN,25-44,ASIAN / PACIFIC ISLANDER,M
7825497,02/03/2018,10:02:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,STATEN ISLAND,FRONT OF,RESIDENCE-HOUSE,NaN,NaN,959533.0,155574.0,45-64,F,PATROL BORO STATEN ISLAND,NaN,45-64,WHITE,M
7825498,01/05/2018,14:40:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,BROOKLYN,FRONT OF,STREET,NaN,NaN,999634.0,190253.0,NaN,NaN,PATROL BORO BKLYN NORTH,NaN,<18,WHITE,F

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_FR_DT       object
 1   CMPLNT_FR_TM       object
 2   OFNS_DESC          object
 3   PD_DESC            object
 4   CRM_ATPT_CPTD_CD   object
 5   LAW_CAT_CD         object
 6   BORO_NM            object
 7   LOC_OF_OCCUR_DESC  object
 8   PREM_TYP_DESC      object
 9   PARKS_NM           object
 10  HADEVELOPT         object
 11  X_COORD_CD         float64
 12  Y_COORD_CD         float64
 13  SUSP_AGE_GROUP     object
 14  SUSP_SEX           object
 15  PATROL_BORO        object
 16  STATION_NAME       object
 17  VIC_AGE_GROUP      object
 18  VIC_RACE           object
 19  VIC_SEX            object
dtypes: float64(2), object(18)
memory usage: 1.2+ GB

In [241]:
df.isna().sum()

CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
OFNS_DESC              18832
PD_DESC                 6761
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                12480
LOC_OF_OCCUR_DESC    1618063
PREM_TYP_DESC          42015
PARKS_NM             7794644
HADEVELOPT           7477110
X_COORD_CD             17339
Y_COORD_CD             17339
SUSP_AGE_GROUP       4883369
SUSP_SEX             3648142
PATROL_BORO             7218
STATION_NAME         7653024
VIC_AGE_GROUP        1638445
VIC_RACE                 390
VIC_SEX                  308
dtype: int64

In [244]:
df.CMPLNT_FR_DT.value_counts()

01/01/2010    2488
01/01/2014    2395
01/01/2016    2383
01/01/2011    2375
01/01/2008    2356
              ...
02/20/1998       1
08/23/2000       1
11/24/1960       1
07/25/1018       1
02/25/2002       1
Name: CMPLNT_FR_DT, Length: 9040, dtype: int64

In [245]:
df.CMPLNT_FR_DT.nunique()

9040

In [253]:
df.SUSP_SEX.value_counts()

M    1988902
F     683295
Name: SUSP_SEX, dtype: int64

In [380]:
df = df.loc[df["SUSP_SEX"] != 'U']

In [255]:
df.SUSP_SEX.value_counts()

M    1988902
F     683295
Name: SUSP_SEX, dtype: int64

In [256]:
df.VIC_AGE_GROUP.value_counts()

25-44    2301820
45-64    1186558
18-24     711038
<18       326309
65+       238627
Name: VIC_AGE_GROUP, dtype: int64

In [257]:
df.dtypes  #object is a string

CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
OFNS_DESC             object
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
PARKS_NM              object
HADEVELOPT            object
X_COORD_CD           float64
Y_COORD_CD           float64
SUSP_AGE_GROUP        object
SUSP_SEX              object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

In [258]:
df.VIC_AGE_GROUP.unique()

array(['25-44', '18-24', '45-64', '<18', '65+'], dtype=object)

In [381]:
# I googled: filter by a set of values pandas

#'25-44', '18-24', '<18', '45-64', '65+'
 
df = df[df['VIC_AGE_GROUP'].isin(['25-44', '18-24', '<18', '45-64', '65+'])]

In [260]:
df.VIC_AGE_GROUP.unique()

array(['25-44', '18-24', '45-64', '<18', '65+'], dtype=object)

In [261]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            1018180
PATROL BORO BKLYN SOUTH       761407
PATROL BORO BKLYN NORTH       720472
PATROL BORO QUEENS NORTH      538486
PATROL BORO QUEENS SOUTH      501704
PATROL BORO MAN NORTH         494903
PATROL BORO MAN SOUTH         472832
PATROL BORO STATEN ISLAND     249725
Name: PATROL_BORO, dtype: int64

In [262]:
df.STATION_NAME.value_counts()

14 STREET                 2223
42 ST.-GRAND CENTRAL      2054
125 STREET                2019
42 ST.-TIMES SQUARE       1709
59 ST.-COLUMBUS CIRCLE    1197
                          ...
DISTRICT 2 OFFICE            8
DISTRICT 34 OFFICE           5
AQUEDUCT-RACETRACK           4
OFF-SYSTEM                   2
DISTRICT 23 OFFICE           2
Name: STATION_NAME, Length: 372, dtype: int64

In [263]:
df.CMPLNT_FR_DT.value_counts()

01/01/2007    1754
01/01/2008    1716
01/01/2006    1651
01/01/2009    1488
01/01/2011    1487
              ...
01/11/2001       1
10/25/2001       1
12/30/2002       1
05/30/1986       1
02/15/2000       1
Name: CMPLNT_FR_DT, Length: 8674, dtype: int64

In [264]:
df.CMPLNT_FR_TM.value_counts()

12:00:00    144793
15:00:00    118408
18:00:00    113213
20:00:00    109859
16:00:00    103899
             ...
06:33:00       119
07:31:00       115
06:16:00       113
05:51:00       106
05:31:00       100
Name: CMPLNT_FR_TM, Length: 1440, dtype: int64

In [265]:
df.OFNS_DESC.value_counts()

HARRASSMENT 2                      898637
ASSAULT 3 & RELATED OFFENSES       740539
PETIT LARCENY                      629321
GRAND LARCENY                      453665
CRIMINAL MISCHIEF & RELATED OF     411557
                                    ...
LOITERING                               2
INTOXICATED/IMPAIRED DRIVING            2
UNLAWFUL POSS. WEAP. ON SCHOOL          2
NYS LAWS-UNCLASSIFIED VIOLATION         1
ADMINISTRATIVE CODES                    1
Name: OFNS_DESC, Length: 69, dtype: int64

In [382]:
df = df.loc[df["OFNS_DESC"] != 'nan']

In [267]:
df.OFNS_DESC.unique()

array(['CRIMINAL MISCHIEF & RELATED OF', 'OFF. AGNST PUB ORD SENSBLTY &',
       'ASSAULT 3 & RELATED OFFENSES', 'FELONY ASSAULT', 'GRAND LARCENY',
       'ROBBERY', 'HARRASSMENT 2', 'PETIT LARCENY', 'SEX CRIMES',
       'VEHICLE AND TRAFFIC LAWS', 'OTHER OFFENSES RELATED TO THEF',
       'OFFENSES AGAINST PUBLIC ADMINI', 'MISCELLANEOUS PENAL LAW',
       'BURGLARY', 'DANGEROUS WEAPONS', 'GRAND LARCENY OF MOTOR VEHICLE',
       'RAPE', 'UNAUTHORIZED USE OF A VEHICLE',
       'INTOXICATED & IMPAIRED DRIVING', 'FRAUDS', 'ADMINISTRATIVE CODE',
       'THEFT-FRAUD', 'CRIMINAL TRESPASS', 'ARSON', nan, 'FORGERY',
       'POSSESSION OF STOLEN PROPERTY', 'DISORDERLY CONDUCT', 'JOSTLING',
       'KIDNAPPING & RELATED OFFENSES', 'MURDER & NON-NEGL. MANSLAUGHTER',
       'OFFENSES AGAINST THE PERSON', 'FRAUDULENT ACCOSTING',
       'PETIT LARCENY OF MOTOR VEHICLE', 'DANGEROUS DRUGS',
       'PROSTITUTION & RELATED OFFENSES', 'CHILD ABANDONMENT/NON SUPPORT',
       "BURGLAR'S TOOLS", 'OFFENSES INVOLVING FRAUD',
       'AGRICULTURE & MRKTS LAW-UNCLASSIFIED', 'ENDAN WELFARE INCOMP',
       'NYS LAWS-UNCLASSIFIED FELONY', 'ABORTION',
       'OFFENSES AGAINST PUBLIC SAFETY', 'OTHER STATE LAWS (NON PENAL LA',
       'ANTICIPATORY OFFENSES', 'GAMBLING',
       'HOMICIDE-NEGLIGENT,UNCLASSIFIE', 'KIDNAPPING',
       'OFFENSES RELATED TO CHILDREN', 'OTHER STATE LAWS',
       'UNDER THE INFLUENCE OF DRUGS', 'HOMICIDE-NEGLIGENT-VEHICLE',
       'THEFT OF SERVICES', 'FELONY SEX CRIMES',
       'OFFENSES AGAINST MARRIAGE UNCL',
       'KIDNAPPING AND RELATED OFFENSES',
       'OTHER STATE LAWS (NON PENAL LAW)',
       'NYS LAWS-UNCLASSIFIED VIOLATION',
       'ALCOHOLIC BEVERAGE CONTROL LAW', 'NEW YORK CITY HEALTH CODE',
       'DISRUPTION OF A RELIGIOUS SERV', 'FORTUNE TELLING',
       'INTOXICATED/IMPAIRED DRIVING', 'ESCAPE 3', 'LOITERING',
       'LOITERING/GAMBLING (CARDS, DIC', 'UNLAWFUL POSS. WEAP. ON SCHOOL',
       'LOITERING FOR DRUG PURPOSES', 'ADMINISTRATIVE CODES'],
      dtype=object)

In [268]:
df.PD_DESC.value_counts()

ASSAULT 3                           609181
HARASSMENT,SUBD 3,4,5               589378
AGGRAVATED HARASSMENT 2             340132
HARASSMENT,SUBD 1,CIVILIAN          309266
ASSAULT 2,1,UNCLASSIFIED            211348
                                     ...
WEAPONS DISPOSITION OF                   1
PROSTITUTION 1, UNDER 11                 1
EDUCATION LAW                            1
ABORTIONAL ARTICLES,ISSUING              1
USE CHILD TO COMMIT CONT SUB OFF         1
Name: PD_DESC, Length: 380, dtype: int64

In [383]:
df = df.loc[df["PD_DESC"] != 'nan']

In [270]:
df.PD_DESC.nunique()

380

In [271]:
#df.PD_DESC.unique()

In [272]:
df.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    4684907
ATTEMPTED      79278
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [384]:
df = df.loc[df["CRM_ATPT_CPTD_CD"] != 'ATTEMPTED']

In [274]:
df.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    4684907
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [275]:
df.LAW_CAT_CD.value_counts()

MISDEMEANOR    2346783
FELONY         1439300
VIOLATION       898991
Name: LAW_CAT_CD, dtype: int64

In [276]:
df.BORO_NM.value_counts()

BROOKLYN         1455223
QUEENS           1020503
BRONX            1001563
MANHATTAN         950957
STATEN ISLAND     246843
Name: BORO_NM, dtype: int64

In [277]:
df.LOC_OF_OCCUR_DESC.value_counts()

INSIDE         2550832
FRONT OF       1138619
OPPOSITE OF     108741
REAR OF          86059
OUTSIDE           3915
Name: LOC_OF_OCCUR_DESC, dtype: int64

In [278]:
df.PREM_TYP_DESC.value_counts()

STREET                        1392876
RESIDENCE - APT. HOUSE        1318315
RESIDENCE-HOUSE                644446
RESIDENCE - PUBLIC HOUSING     355327
OTHER                          106623
                               ...
PHOTO/COPY                        431
CEMETERY                          384
LOAN COMPANY                      213
DAYCARE FACILITY                   34
TRAMWAY                            34
Name: PREM_TYP_DESC, Length: 74, dtype: int64

In [279]:
df.PARKS_NM.value_counts()

CENTRAL PARK                            1111
FLUSHING MEADOWS CORONA PARK             821
CONEY ISLAND BEACH & BOARDWALK           481
PROSPECT PARK                            413
UNION SQUARE PARK                        398
                                        ...
BARRETT TRIANGLE                           1
BROAD CHANNEL AMERICAN PARK                1
ABC PLAYGROUND                             1
UNNAMED PARK ON CLEARVIEW EXPRESSWAY       1
FLOOD TRIANGLE                             1
Name: PARKS_NM, Length: 1019, dtype: int64

In [280]:
df.HADEVELOPT.value_counts()

CASTLE HILL                 4535
VAN DYKE I                  4320
POMONOK                     3295
LINDEN                      3292
BROWNSVILLE                 3197
                            ...
FRANKLIN AVENUE III MHOP       1
STUYVESANT GARDENS II          1
FULTON                         1
344 EAST 28TH STREET           1
BRONXCHESTER                   1
Name: HADEVELOPT, Length: 276, dtype: int64

In [281]:
df.SUSP_AGE_GROUP.value_counts()

25-44      828810
UNKNOWN    299848
18-24      290949
45-64      285936
<18         86338
            ...
-64             1
-964            1
-72             1
933             1
-935            1
Name: SUSP_AGE_GROUP, Length: 109, dtype: int64

In [282]:
df.SUSP_SEX.value_counts()

M    1950276
F     677538
Name: SUSP_SEX, dtype: int64

In [283]:
df.SUSP_AGE_GROUP.unique()

array([nan, '25-44', '45-64', 'UNKNOWN', '18-24', '<18', '65+', '1012',
       '1018', '-974', '-978', '2018', '-941', '1967', '948', '-981',
       '-972', '-969', '935', '-2', '2016', '-63', '-965', '-964', '2019',
       '-973', '-966', '-968', '-64', '-1', '930', '947', '924', '929',
       '1019', '940', '2021', '-33', '-60', '953', '-971', '-946', '1032',
       '-955', '1056', '-69', '-975', '-947', '1017', '-72', '-977',
       '1016', '-49', '2017', '966', '923', '2020', '-962', '1020',
       '1925', '-942', '-928', '327', '1933', '945', '-83', '942', '926',
       '-960', '-948', '-65', '927', '2015', '934', '931', '949', '-54',
       '944', '-67', '1932', '1053', '-976', '938', '946', '915', '709',
       '922', '-979', '-963', '933', '-935', '914', '808', '-980', '1007',
       '-985', '-970', '708', '952', '324', '814', '925', '809', '936',
       '711', '972', '954', '955', '920', '928'], dtype=object)

In [385]:
df = df[df['SUSP_AGE_GROUP'].isin(['25-44', '45-64', '<18', '18-24', '65+'])]

In [285]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            368641
PATROL BORO BKLYN NORTH      230922
PATROL BORO BKLYN SOUTH      230759
PATROL BORO QUEENS SOUTH     171023
PATROL BORO MAN NORTH        166313
PATROL BORO QUEENS NORTH     154731
PATROL BORO MAN SOUTH        110252
PATROL BORO STATEN ISLAND     82888
Name: PATROL_BORO, dtype: int64

In [286]:
df.STATION_NAME.value_counts()

125 STREET                624
14 STREET                 526
42 ST.-TIMES SQUARE       436
42 ST.-GRAND CENTRAL      416
59 ST.-COLUMBUS CIRCLE    356
                         ...
DISTRICT 30 OFFICE          2
DISTRICT 12 OFFICE          1
BEACH 105 STREET            1
36 AVENUE                   1
OFF-SYSTEM                  1
Name: STATION_NAME, Length: 371, dtype: int64

In [287]:
df.STATION_NAME.nunique()

371

In [386]:
df = df[df["STATION_NAME"].str.contains("OFF-SYSTEM")==False]

In [387]:
dfs = df.loc[df["PREM_TYP_DESC"] == 'TRANSIT - NYC SUBWAY']

In [290]:
dfs.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
172,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,FELONY,BRONX,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,1010257.0,248767.0,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F
226,03/01/2018,08:47:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,988874.0,207673.0,18-24,M,PATROL BORO MAN SOUTH,14 STREET,25-44,ASIAN / PACIFIC ISLANDER,F
413,05/19/2018,12:25:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,990886.0,213048.0,45-64,M,PATROL BORO MAN SOUTH,42 ST.-GRAND CENTRAL,25-44,WHITE,F
717,11/04/2018,00:00:00,DANGEROUS WEAPONS,WEAPONS POSSESSION 3,COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,980772.0,194845.0,25-44,M,PATROL BORO MAN SOUTH,SOUTH FERRY,65+,BLACK,M
844,01/18/2018,12:23:00,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 3,POSSESSION",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,989294.0,215445.0,25-44,M,PATROL BORO MAN SOUTH,47-50 STS./ROCKEFELLER CTR.,25-44,WHITE,M

In [291]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20186 entries, 172 to 7825279
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CMPLNT_FR_DT       20185 non-null  object
 1   CMPLNT_FR_TM       20186 non-null  object
 2   OFNS_DESC          20115 non-null  object
 3   PD_DESC            20186 non-null  object
 4   CRM_ATPT_CPTD_CD   20186 non-null  object
 5   LAW_CAT_CD         20186 non-null  object
 6   BORO_NM            20161 non-null  object
 7   LOC_OF_OCCUR_DESC  38 non-null     object
 8   PREM_TYP_DESC      20186 non-null  object
 9   PARKS_NM           2 non-null      object
 10  HADEVELOPT         0 non-null      object
 11  X_COORD_CD         20161 non-null  float64
 12  Y_COORD_CD         20161 non-null  float64
 13  SUSP_AGE_GROUP     20186 non-null  object
 14  SUSP_SEX           20168 non-null  object
 15  PATROL_BORO        20186 non-null  object
 16  STATION_NAME       20146 non-null  object
 17  VIC_AGE_GROUP      20186 non-null  object
 18  VIC_RACE           20186 non-null  object
 19  VIC_SEX            20186 non-null  object
dtypes: float64(2), object(18)
memory usage: 3.2+ MB

In [292]:
dfs.isna().sum()

CMPLNT_FR_DT             1
CMPLNT_FR_TM             0
OFNS_DESC               71
PD_DESC                  0
CRM_ATPT_CPTD_CD         0
LAW_CAT_CD               0
BORO_NM                 25
LOC_OF_OCCUR_DESC    20148
PREM_TYP_DESC            0
PARKS_NM             20184
HADEVELOPT           20186
X_COORD_CD              25
Y_COORD_CD              25
SUSP_AGE_GROUP           0
SUSP_SEX                18
PATROL_BORO              0
STATION_NAME            40
VIC_AGE_GROUP            0
VIC_RACE                 0
VIC_SEX                  0
dtype: int64

In [388]:
#setting the new df equal to station name equals everything except off-system. Not finalized until you set
#it equal to the new df

df = df.loc[df["STATION_NAME"] != 'OFF-SYSTEM']

In [294]:
df.STATION_NAME.value_counts()

125 STREET                624
14 STREET                 526
42 ST.-TIMES SQUARE       436
42 ST.-GRAND CENTRAL      416
59 ST.-COLUMBUS CIRCLE    356
                         ...
DISTRICT 34 OFFICE          2
DISTRICT 30 OFFICE          2
36 AVENUE                   1
DISTRICT 12 OFFICE          1
BEACH 105 STREET            1
Name: STATION_NAME, Length: 370, dtype: int64

In [295]:
df.VIC_RACE.value_counts()

BLACK                             612331
WHITE HISPANIC                    398572
WHITE                             264748
ASIAN / PACIFIC ISLANDER          101182
BLACK HISPANIC                     85390
UNKNOWN                            50091
AMERICAN INDIAN/ALASKAN NATIVE      7422
OTHER                                  4
Name: VIC_RACE, dtype: int64

In [296]:
df.VIC_SEX.value_counts()

F    1037179
M     482444
D         82
E         35
Name: VIC_SEX, dtype: int64

In [389]:
df = df.loc[df["VIC_SEX"] != 'U']

In [298]:
df.VIC_SEX.value_counts()

F    1037179
M     482444
D         82
E         35
Name: VIC_SEX, dtype: int64

In [299]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
3,06/09/2018,21:42:00,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,COMPLETED,MISDEMEANOR,MANHATTAN,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,985717.0,215911.0,25-44,M,PATROL BORO MAN SOUTH,NaN,18-24,WHITE HISPANIC,F
9,08/04/2018,22:15:00,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,COMPLETED,MISDEMEANOR,BRONX,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1007268.0,240281.0,45-64,M,PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
21,11/18/2018,16:00:00,ROBBERY,"ROBBERY,RESIDENTIAL COMMON AREA",COMPLETED,FELONY,BRONX,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1016622.0,249104.0,25-44,M,PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,M
33,12/08/2018,13:00:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,QUEENS,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1048039.0,178985.0,18-24,F,PATROL BORO QUEENS SOUTH,NaN,65+,BLACK,M
40,09/18/2018,18:30:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,999634.0,190253.0,25-44,M,PATROL BORO BKLYN NORTH,NaN,18-24,BLACK,F

In [322]:
df.CMPLNT_FR_DT.describe()

172   NaT
226   NaT
413   NaT
717   NaT
844   NaT
Name: CMPLNT_FR_DT, dtype: datetime64[ns]

In [373]:
#converting the dates from a string to a datetime object 

df['CMPLNT_FR_DT'] = pd.to_datetime(df['CMPLNT_FR_DT'])

In [374]:
df.CMPLNT_FR_DT

172       2018-06-09
226       2018-03-01
413       2018-05-19
717       2018-11-04
844       2018-01-18
             ...
7824609   2018-06-03
7824874   2018-11-15
7825187   2018-03-22
7825268   2018-02-07
7825279   2018-11-09
Name: CMPLNT_FR_DT, Length: 20385, dtype: datetime64[ns]

In [375]:
df.CMPLNT_FR_DT.min()

Timestamp('1966-04-12 00:00:00')

In [376]:
df.CMPLNT_FR_DT.max()

Timestamp('2021-12-31 00:00:00')

In [391]:
#making a new column with date and time together 

df['CMPLNT_FR_DTTM'] = pd.to_datetime(df['CMPLNT_FR_DT'].str.cat(df['CMPLNT_FR_TM'], ' '))

In [392]:
df['CMPLNT_FR_DTTM']

172       2018-06-09 15:54:00
226       2018-03-01 08:47:00
413       2018-05-19 12:25:00
717       2018-11-04 00:00:00
844       2018-01-18 12:23:00
                  ...
7824609   2018-06-03 01:20:00
7824874   2018-11-15 20:00:00
7825187   2018-03-22 08:15:00
7825268   2018-02-07 03:45:00
7825279   2018-11-09 16:49:00
Name: CMPLNT_FR_DTTM, Length: 20385, dtype: datetime64[ns]

In [395]:
#filtering only these dates

df = df[(df['CMPLNT_FR_DTTM'] > '1966-04-12') & (df['CMPLNT_FR_DTTM'] < '2021-12-31')]

In [398]:
df.CMPLNT_FR_DTTM.value_counts()

2019-06-21 12:20:00    4
2013-09-06 19:50:00    4
2018-04-21 15:30:00    4
2019-05-25 02:04:00    3
2021-11-12 07:30:00    3
                      ..
2012-07-22 16:50:00    1
2017-09-04 04:15:00    1
2019-09-16 20:40:00    1
2017-01-18 10:00:00    1
2016-03-26 06:18:00    1
Name: CMPLNT_FR_DTTM, Length: 19549, dtype: int64

In [400]:
df.to_csv('df.csv')