In [2]:
#put MC into a new folder

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import csv
import datetime

In [3]:
mc = pd.read_csv('NYPD_Complaint_Data_Historic.csv', usecols = ['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
                                                                'CMPLNT_TO_TM', 'OFNS_DESC', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'PD_CD', 
                                                                'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC',
                                                               'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE', 
                                                                'SUSP_AGE_GROUP', 'SUSP_SEX','PATROL_BORO', 'VIC_AGE_GROUP', 
                                                                'VIC_RACE', 'VIC_SEX', 'Latitude', 'Longitude', 'CRM_ATPT_CPTD_CD', 
                                                               'Lat_Lon'])

In [4]:
## Data Understanding 
print(mc.shape)
mc.head()

(7825499, 27)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,JURISDICTION_CODE,SUSP_AGE_GROUP,SUSP_SEX,Latitude,Longitude,Lat_Lon,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,506547392,03/29/2018,20:30:00,NaN,NaN,32.0,03/30/2018,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,0.0,NaN,NaN,40.810877,-73.941064,"(40.810877241, -73.941064151)",PATROL BORO MAN NORTH,25-44,WHITE,F
1,629632833,02/06/2018,23:15:00,NaN,NaN,52.0,02/07/2018,341,PETIT LARCENY,333.0,...,0.0,45-64,F,40.873671,-73.908014,"(40.873671035, -73.908013649)",PATROL BORO BRONX,UNKNOWN,UNKNOWN,D
2,787203902,11/21/2018,00:15:00,11/21/2018,00:20:00,75.0,11/21/2018,341,PETIT LARCENY,321.0,...,0.0,25-44,F,40.651782,-73.885457,"(40.651782232, -73.885456761)",PATROL BORO BKLYN NORTH,UNKNOWN,UNKNOWN,D
3,280364018,06/09/2018,21:42:00,06/09/2018,21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,0.0,25-44,M,40.759310,-73.994706,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F
4,985800320,11/10/2018,19:40:00,11/10/2018,19:45:00,19.0,11/10/2018,341,PETIT LARCENY,333.0,...,0.0,<18,F,40.764536,-73.970728,"(40.764535539, -73.970728388)",PATROL BORO MAN NORTH,UNKNOWN,UNKNOWN,D

In [5]:
# dtypes
mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  SUSP_AGE_GROUP     object
 19  SUSP_SEX           object
 20  Latitude           float64
 21  Longitude          float64
 22  Lat_Lon            object
 23  PATROL_BORO        object
 24  VIC_AGE_GROUP      object
 25  VIC_RACE           object
 26  VIC_SEX            object
dtypes: float64(5), int64(2), object(20)
memory usage: 1.6+ GB

In [6]:
mc.isna().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
CMPLNT_TO_DT         1744294
CMPLNT_TO_TM         1739479
ADDR_PCT_CD             2166
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18832
PD_CD                   6761
PD_DESC                 6761
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                12480
LOC_OF_OCCUR_DESC    1618063
PREM_TYP_DESC          42015
JURIS_DESC                 0
JURISDICTION_CODE       6761
SUSP_AGE_GROUP       4883369
SUSP_SEX             3648142
Latitude               17339
Longitude              17339
Lat_Lon                17339
PATROL_BORO             7218
VIC_AGE_GROUP        1638445
VIC_RACE                 390
VIC_SEX                  308
dtype: int64

In [7]:
#the target 

mc.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    7692989
ATTEMPTED     132342
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [8]:
mc[mc['CMPLNT_FR_DT'] == '1028-06-21']

Empty DataFrame
Columns: [CMPLNT_NUM, CMPLNT_FR_DT, CMPLNT_FR_TM, CMPLNT_TO_DT, CMPLNT_TO_TM, ADDR_PCT_CD, RPT_DT, KY_CD, OFNS_DESC, PD_CD, PD_DESC, CRM_ATPT_CPTD_CD, LAW_CAT_CD, BORO_NM, LOC_OF_OCCUR_DESC, PREM_TYP_DESC, JURIS_DESC, JURISDICTION_CODE, SUSP_AGE_GROUP, SUSP_SEX, Latitude, Longitude, Lat_Lon, PATROL_BORO, VIC_AGE_GROUP, VIC_RACE, VIC_SEX]
Index: []

[0 rows x 27 columns]

In [9]:
mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  SUSP_AGE_GROUP     object
 19  SUSP_SEX           object
 20  Latitude           float64
 21  Longitude          float64
 22  Lat_Lon            object
 23  PATROL_BORO        object
 24  VIC_AGE_GROUP      object
 25  VIC_RACE           object
 26  VIC_SEX            object
dtypes: float64(5), int64(2), object(20)
memory usage: 1.6+ GB

In [10]:
#mc['CMPLNT_FR_DT'] = pd.to_datetime(mc['CMPLNT_FR_DT'], errors = 'coerce')

mc['CMPLNT_FR_DT'] = pd.to_datetime(mc['CMPLNT_FR_DT'], errors = 'coerce')

In [11]:
mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       datetime64[ns]
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  SUSP_AGE_GROUP     object
 19  SUSP_SEX           object
 20  Latitude           float64
 21  Longitude          float64
 22  Lat_Lon            object
 23  PATROL_BORO        object
 24  VIC_AGE_GROUP      object
 25  VIC_RACE           object
 26  VIC_SEX            object
dtypes: datetime64[ns](1), float64(5), int64(2), object(19)
memory usage: 1.6+ GB

In [12]:
mc['CMPLNT_TO_DT'] = pd.to_datetime(mc['CMPLNT_TO_DT'], errors = 'coerce')

In [13]:
#this one broke it 

#make month and year columns

mc['year'] = mc['CMPLNT_FR_DT'].dt.year
mc['month'] = mc['CMPLNT_FR_DT'].dt.month

In [85]:
mc = mc[(mc['year'] > 2005) & (mc['year'] < 2020)]

In [83]:
mc.isna().sum()

CMPLNT_NUM           0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         1
CMPLNT_TO_DT         0
CMPLNT_TO_TM         0
ADDR_PCT_CD          0
RPT_DT               0
KY_CD                0
OFNS_DESC            0
PD_CD                0
PD_DESC              0
CRM_ATPT_CPTD_CD     0
LAW_CAT_CD           0
BORO_NM              0
LOC_OF_OCCUR_DESC    0
PREM_TYP_DESC        0
JURIS_DESC           0
JURISDICTION_CODE    0
SUSP_AGE_GROUP       0
SUSP_SEX             0
Latitude             0
Longitude            0
Lat_Lon              0
PATROL_BORO          9
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
year                 0
month                0
session              1
session_to           0
diff                 1
dtype: int64

In [16]:
mc = mc[mc['SUSP_AGE_GROUP'].isin(['25-44', '45-64', '<18', '18-24', '65+'])]

In [17]:
mc.SUSP_AGE_GROUP.value_counts()

25-44    1018448
18-24     388447
45-64     362504
<18       109000
65+        30344
Name: SUSP_AGE_GROUP, dtype: int64

In [18]:
mc.SUSP_SEX.value_counts()

M    1449318
F     434120
U      23406
Name: SUSP_SEX, dtype: int64

In [19]:
mc = mc[mc['VIC_AGE_GROUP'].isin(['25-44', '18-24', '<18', '45-64', '65+'])]

In [20]:
mc.VIC_AGE_GROUP.value_counts()

25-44    718334
45-64    308962
18-24    243436
<18      100464
65+       50056
Name: VIC_AGE_GROUP, dtype: int64

In [21]:
mc.LOC_OF_OCCUR_DESC.value_counts()

INSIDE         969660
FRONT OF       266271
REAR OF         13961
OPPOSITE OF     10818
OUTSIDE          2147
Name: LOC_OF_OCCUR_DESC, dtype: int64

In [22]:
mc.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,Latitude,Longitude,Lat_Lon,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month
3,280364018,2018-06-09,21:42:00,2018-06-09,21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,40.759310,-73.994706,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F,2018.0,6.0
9,377132404,2018-08-04,22:15:00,NaT,NaN,44.0,08/04/2018,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,40.826170,-73.916831,"(40.826169612, -73.916830709)",PATROL BORO BRONX,25-44,WHITE HISPANIC,F,2018.0,8.0
10,504303130,2018-09-26,18:20:00,2018-09-26,18:24:00,28.0,09/26/2018,106,FELONY ASSAULT,109.0,...,U,40.803905,-73.952037,"(40.803905237, -73.952036608)",PATROL BORO MAN NORTH,25-44,BLACK,M,2018.0,9.0
21,310389190,2018-11-18,16:00:00,2018-11-18,16:10:00,48.0,11/18/2018,105,ROBBERY,388.0,...,M,40.850357,-73.882989,"(40.85035684, -73.882989431)",PATROL BORO BRONX,<18,WHITE HISPANIC,M,2018.0,11.0
31,412087799,2018-05-07,15:00:00,2018-05-19,18:00:00,47.0,05/21/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,U,40.881301,-73.854337,"(40.881300913, -73.854337339)",PATROL BORO BRONX,<18,WHITE HISPANIC,F,2018.0,5.0

In [23]:
mc['CMPLNT_TO_TM'] = pd.to_datetime(mc['CMPLNT_TO_TM'], errors = 'coerce')

In [24]:
mc['CMPLNT_TO_DT'] = pd.to_datetime(mc['CMPLNT_TO_DT'])

In [25]:
mc['CMPLNT_FR_TM'] = pd.to_datetime(mc['CMPLNT_FR_TM'])

In [26]:
mc=mc.assign(session=pd.cut(mc.CMPLNT_FR_TM.dt.hour,
                            [0,6,12,18,23],
                            labels=['Night','Morning','Afternoon','Evening'],
                            include_lowest=True))

In [27]:
mc=mc.assign(session_to=pd.cut(mc.CMPLNT_TO_TM.dt.hour,
                            [0,6,12,18,23],
                            labels=['Night','Morning','Afternoon','Evening'],
                            include_lowest=True))

In [28]:
mc['diff'] = mc['CMPLNT_TO_TM'] - mc['CMPLNT_FR_TM']

In [29]:
mc.shape

(1421252, 32)

In [30]:
#dropping only rows with nulls

mc.dropna(subset=['CMPLNT_TO_DT'], inplace = True)

In [31]:
mc.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,Lat_Lon,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,session,session_to,diff
3,280364018,2018-06-09,2022-11-17 21:42:00,2018-06-09,2022-11-17 21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F,2018.0,6.0,Evening,Evening,0 days 00:01:00
10,504303130,2018-09-26,2022-11-17 18:20:00,2018-09-26,2022-11-17 18:24:00,28.0,09/26/2018,106,FELONY ASSAULT,109.0,...,"(40.803905237, -73.952036608)",PATROL BORO MAN NORTH,25-44,BLACK,M,2018.0,9.0,Afternoon,Afternoon,0 days 00:04:00
21,310389190,2018-11-18,2022-11-17 16:00:00,2018-11-18,2022-11-17 16:10:00,48.0,11/18/2018,105,ROBBERY,388.0,...,"(40.85035684, -73.882989431)",PATROL BORO BRONX,<18,WHITE HISPANIC,M,2018.0,11.0,Afternoon,Afternoon,0 days 00:10:00
31,412087799,2018-05-07,2022-11-17 15:00:00,2018-05-19,2022-11-17 18:00:00,47.0,05/21/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.881300913, -73.854337339)",PATROL BORO BRONX,<18,WHITE HISPANIC,F,2018.0,5.0,Afternoon,Afternoon,0 days 03:00:00
33,739896840,2018-12-08,2022-11-17 13:00:00,2018-12-08,2022-11-17 13:15:00,105.0,12/08/2018,578,HARRASSMENT 2,638.0,...,"(40.657727629, -73.770094944)",PATROL BORO QUEENS SOUTH,65+,BLACK,M,2018.0,12.0,Afternoon,Afternoon,0 days 00:15:00

In [32]:
mc.dropna(subset=['CMPLNT_TO_TM'], inplace = True)

In [33]:
desc_original = mc.OFNS_DESC.unique()
desc_original

array(['OFF. AGNST PUB ORD SENSBLTY &', 'FELONY ASSAULT', 'ROBBERY',
       'HARRASSMENT 2', 'SEX CRIMES', 'VEHICLE AND TRAFFIC LAWS',
       'OTHER OFFENSES RELATED TO THEF', 'ASSAULT 3 & RELATED OFFENSES',
       'CRIMINAL MISCHIEF & RELATED OF', 'MISCELLANEOUS PENAL LAW',
       'DANGEROUS WEAPONS', 'BURGLARY', 'OFFENSES AGAINST PUBLIC ADMINI',
       'RAPE', 'GRAND LARCENY', 'PETIT LARCENY',
       'UNAUTHORIZED USE OF A VEHICLE', 'INTOXICATED & IMPAIRED DRIVING',
       'ADMINISTRATIVE CODE', 'FORGERY', 'POSSESSION OF STOLEN PROPERTY',
       'CRIMINAL TRESPASS', 'JOSTLING', 'KIDNAPPING & RELATED OFFENSES',
       'OFFENSES AGAINST THE PERSON', 'FRAUDS', 'FRAUDULENT ACCOSTING',
       'GRAND LARCENY OF MOTOR VEHICLE', 'DANGEROUS DRUGS', 'THEFT-FRAUD',
       'PROSTITUTION & RELATED OFFENSES', 'OFFENSES INVOLVING FRAUD',
       'ENDAN WELFARE INCOMP', 'ARSON', 'NYS LAWS-UNCLASSIFIED FELONY',
       "BURGLAR'S TOOLS", 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
       'OFFENSES AGAINST PUBLIC SAFETY', 'DISORDERLY CONDUCT',
       'CHILD ABANDONMENT/NON SUPPORT', 'OTHER STATE LAWS (NON PENAL LA',
       'ANTICIPATORY OFFENSES', 'GAMBLING', 'KIDNAPPING',
       'PETIT LARCENY OF MOTOR VEHICLE', 'HOMICIDE-NEGLIGENT,UNCLASSIFIE',
       nan, 'OFFENSES RELATED TO CHILDREN', 'THEFT OF SERVICES',
       'FELONY SEX CRIMES', 'OTHER STATE LAWS',
       'KIDNAPPING AND RELATED OFFENSES', 'HOMICIDE-NEGLIGENT-VEHICLE',
       'NEW YORK CITY HEALTH CODE', 'ABORTION',
       'ALCOHOLIC BEVERAGE CONTROL LAW',
       'NYS LAWS-UNCLASSIFIED VIOLATION', 'FORTUNE TELLING',
       'UNLAWFUL POSS. WEAP. ON SCHOOL'], dtype=object)

In [34]:
mc.OFNS_DESC.value_counts()

HARRASSMENT 2                           326199
ASSAULT 3 & RELATED OFFENSES            238706
OFF. AGNST PUB ORD SENSBLTY &           112105
FELONY ASSAULT                           79376
MISCELLANEOUS PENAL LAW                  59890
CRIMINAL MISCHIEF & RELATED OF           53824
ROBBERY                                  38917
OFFENSES AGAINST PUBLIC ADMINI           36037
PETIT LARCENY                            33468
GRAND LARCENY                            27693
SEX CRIMES                               23578
BURGLARY                                  9809
RAPE                                      8520
UNAUTHORIZED USE OF A VEHICLE             4980
CRIMINAL TRESPASS                         4515
DANGEROUS WEAPONS                         3710
ADMINISTRATIVE CODE                       3105
VEHICLE AND TRAFFIC LAWS                  2846
POSSESSION OF STOLEN PROPERTY             2646
OFFENSES AGAINST THE PERSON               2385
OTHER OFFENSES RELATED TO THEF            1883
GRAND LARCENY OF MOTOR VEHICLE            1766
INTOXICATED & IMPAIRED DRIVING            1398
THEFT-FRAUD                               1263
FORGERY                                   1142
KIDNAPPING & RELATED OFFENSES              951
FRAUDS                                     794
DANGEROUS DRUGS                            622
FRAUDULENT ACCOSTING                       241
BURGLAR'S TOOLS                            213
ARSON                                      155
OFFENSES INVOLVING FRAUD                   114
CHILD ABANDONMENT/NON SUPPORT              109
NYS LAWS-UNCLASSIFIED FELONY               104
ENDAN WELFARE INCOMP                        97
OTHER STATE LAWS (NON PENAL LA              95
PROSTITUTION & RELATED OFFENSES             68
JOSTLING                                    53
AGRICULTURE & MRKTS LAW-UNCLASSIFIED        47
DISORDERLY CONDUCT                          37
KIDNAPPING                                  22
PETIT LARCENY OF MOTOR VEHICLE              16
HOMICIDE-NEGLIGENT,UNCLASSIFIE              15
FELONY SEX CRIMES                           13
OFFENSES RELATED TO CHILDREN                13
ANTICIPATORY OFFENSES                        8
HOMICIDE-NEGLIGENT-VEHICLE                   7
OTHER STATE LAWS                             6
NEW YORK CITY HEALTH CODE                    4
ABORTION                                     3
GAMBLING                                     3
OFFENSES AGAINST PUBLIC SAFETY               3
THEFT OF SERVICES                            3
ALCOHOLIC BEVERAGE CONTROL LAW               2
UNLAWFUL POSS. WEAP. ON SCHOOL               1
FORTUNE TELLING                              1
KIDNAPPING AND RELATED OFFENSES              1
NYS LAWS-UNCLASSIFIED VIOLATION              1
Name: OFNS_DESC, dtype: int64

In [35]:
mc.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,Lat_Lon,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,session,session_to,diff
3,280364018,2018-06-09,2022-11-17 21:42:00,2018-06-09,2022-11-17 21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F,2018.0,6.0,Evening,Evening,0 days 00:01:00
10,504303130,2018-09-26,2022-11-17 18:20:00,2018-09-26,2022-11-17 18:24:00,28.0,09/26/2018,106,FELONY ASSAULT,109.0,...,"(40.803905237, -73.952036608)",PATROL BORO MAN NORTH,25-44,BLACK,M,2018.0,9.0,Afternoon,Afternoon,0 days 00:04:00
21,310389190,2018-11-18,2022-11-17 16:00:00,2018-11-18,2022-11-17 16:10:00,48.0,11/18/2018,105,ROBBERY,388.0,...,"(40.85035684, -73.882989431)",PATROL BORO BRONX,<18,WHITE HISPANIC,M,2018.0,11.0,Afternoon,Afternoon,0 days 00:10:00
31,412087799,2018-05-07,2022-11-17 15:00:00,2018-05-19,2022-11-17 18:00:00,47.0,05/21/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.881300913, -73.854337339)",PATROL BORO BRONX,<18,WHITE HISPANIC,F,2018.0,5.0,Afternoon,Afternoon,0 days 03:00:00
33,739896840,2018-12-08,2022-11-17 13:00:00,2018-12-08,2022-11-17 13:15:00,105.0,12/08/2018,578,HARRASSMENT 2,638.0,...,"(40.657727629, -73.770094944)",PATROL BORO QUEENS SOUTH,65+,BLACK,M,2018.0,12.0,Afternoon,Afternoon,0 days 00:15:00

In [36]:
mc.VIC_AGE_GROUP.value_counts()

25-44    546293
45-64    239543
18-24    182585
<18       76182
65+       39777
Name: VIC_AGE_GROUP, dtype: int64

In [37]:
mc.isna().sum()

CMPLNT_NUM                0
CMPLNT_FR_DT              0
CMPLNT_FR_TM              1
CMPLNT_TO_DT              0
CMPLNT_TO_TM              0
ADDR_PCT_CD              29
RPT_DT                    0
KY_CD                     0
OFNS_DESC               797
PD_CD                     0
PD_DESC                   0
CRM_ATPT_CPTD_CD          0
LAW_CAT_CD                0
BORO_NM                 382
LOC_OF_OCCUR_DESC    121889
PREM_TYP_DESC          2831
JURIS_DESC                0
JURISDICTION_CODE         0
SUSP_AGE_GROUP            0
SUSP_SEX                962
Latitude               1262
Longitude              1262
Lat_Lon                1262
PATROL_BORO              38
VIC_AGE_GROUP             0
VIC_RACE                  0
VIC_SEX                   0
year                      0
month                     0
session                   1
session_to                0
diff                      1
dtype: int64

In [38]:
#dropping only rows with nulls

mc.dropna(subset=['ADDR_PCT_CD'], inplace = True)

In [39]:
mc.dropna(subset=['OFNS_DESC'], inplace = True)

In [40]:
mc.dropna(subset=['BORO_NM'], inplace = True)

In [41]:
mc.dropna(subset=['LOC_OF_OCCUR_DESC'], inplace = True)

In [42]:
mc.dropna(subset=['PREM_TYP_DESC'], inplace = True)

In [43]:
mc.dropna(subset=['SUSP_SEX'], inplace = True)

In [44]:
mc.dropna(subset=['Latitude'], inplace = True)

In [45]:
mc.dropna(subset=['Longitude'], inplace = True)

In [46]:
mc.dropna(subset=['Lat_Lon'], inplace = True)

In [47]:
#taking out irrelevant crimes from offense description

mc = mc.loc[mc["OFNS_DESC"] != 'OTHER STATE LAWS']

In [48]:
mc = mc.loc[mc["OFNS_DESC"] != 'OTHER STATE LAWS (NON PENAL LA']

In [49]:
mc = mc.loc[mc["OFNS_DESC"] != 'NYS LAWS-UNCLASSIFIED FELONY']

In [50]:
mc = mc.loc[mc["OFNS_DESC"] != 'NYS LAWS-UNCLASSIFIED VIOLATION']

In [51]:
mc = mc.loc[mc["OFNS_DESC"] != 'ANTICIPATORY OFFENSES']

In [52]:
mc = mc.loc[mc["OFNS_DESC"] != 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED']

In [53]:
mc = mc.loc[mc["OFNS_DESC"] != 'ABORTION']

In [54]:
mc = mc.loc[mc["OFNS_DESC"] != 'ALCOHOLIC BEVERAGE CONTROL LAW']

In [55]:
mc = mc.loc[mc["OFNS_DESC"] != 'ADMINISTRATIVE CODE']

In [56]:
mc.BORO_NM.value_counts()

BROOKLYN         306875
QUEENS           222127
BRONX            203866
MANHATTAN        167077
STATEN ISLAND     53717
Name: BORO_NM, dtype: int64

In [77]:
mc['OFNS_DESC'].value_counts()

HARRASSMENT 2                     296043
ASSAULT 3 & RELATED OFFENSES      205434
OFF. AGNST PUB ORD SENSBLTY &     106009
FELONY ASSAULT                     70451
MISCELLANEOUS PENAL LAW            54996
CRIMINAL MISCHIEF & RELATED OF     48730
OFFENSES AGAINST PUBLIC ADMINI     33175
PETIT LARCENY                      29953
ROBBERY                            25937
GRAND LARCENY                      22777
SEX CRIMES                         19880
BURGLARY                            9676
FELONY SEX CRIMES                   8044
CRIMINAL TRESPASS                   4456
UNAUTHORIZED USE OF A VEHICLE       4185
DANGEROUS WEAPONS                   3054
POSSESSION OF STOLEN PROPERTY       2756
OFFENSES AGAINST THE PERSON         1992
THEFT-FRAUD                         1282
FORGERY                              898
KIDNAPPING & RELATED OFFENSES        843
VEHICLE AND TRAFFIC LAWS             776
FRAUDS                               692
DANGEROUS DRUGS                      475
INTOXICATED & IMPAIRED DRIVING       458
BURGLAR'S TOOLS                      157
ARSON                                148
FRAUDULENT ACCOSTING                 113
CHILD ABANDONMENT/NON SUPPORT         91
ENDAN WELFARE INCOMP                  90
DISORDERLY CONDUCT                    27
HOMICIDE-NEGLIGENT,UNCLASSIFIE        16
JOSTLING                              14
KIDNAPPING                            13
OFFENSES RELATED TO CHILDREN          13
Name: OFNS_DESC, dtype: int64

In [58]:
mc = mc.loc[mc["OFNS_DESC"] != 'GAMBLING']

In [59]:
mc = mc.loc[mc["OFNS_DESC"] != 'OFFENSES AGAINST PUBLIC SAFETY']

In [60]:
mc = mc.loc[mc["OFNS_DESC"] != 'NEW YORK CITY HEALTH CODE']

In [61]:
#combining names 

mc.loc[mc['OFNS_DESC'] == 'HOMICIDE-NEGLIGENT-VEHICLE','OFNS_DESC'] = 'HOMICIDE-NEGLIGENT,UNCLASSIFIE'

In [64]:
mc.loc[mc['OFNS_DESC'] == 'KIDNAPPING AND RELATED OFFENSES', 'OFNS_DESC'] = 'KIDNAPPING'

In [66]:
mc.loc[mc['OFNS_DESC'] == 'RAPE', 'OFNS_DESC'] = 'FELONY SEX CRIMES'

In [67]:
mc.loc[mc['OFNS_DESC'] == 'PROSTITUTION & RELATED OFFENSES', 'OFNS_DESC'] = 'SEX CRIMES'

In [69]:
mc.loc[mc['OFNS_DESC'] == 'OFFENSES INVOLVING FRAUD', 'OFNS_DESC'] = 'THEFT-FRAUD'

In [71]:
mc.loc[mc['OFNS_DESC'] == 'PETIT LARCENY OF MOTOR VEHICLE', 'OFNS_DESC'] = 'PETIT LARCENY'

In [73]:
mc.loc[mc['OFNS_DESC'] == 'GRAND LARCENY OF MOTOR VEHICLE', 'OFNS_DESC'] = 'GRAND LARCENY'

In [74]:
mc.loc[mc['OFNS_DESC'] == 'OTHER OFFENSES RELATED TO THEF', 'OFNS_DESC'] = 'POSSESSION OF STOLEN PROPERTY'

In [76]:
mc.loc[mc['OFNS_DESC'] == 'UNLAWFUL POSS. WEAP. ON SCHOOL', 'OFNS_DESC'] = 'DANGEROUS WEAPONS'

In [78]:
mc.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,Lat_Lon,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,session,session_to,diff
3,280364018,2018-06-09 00:00:00,2022-11-17 21:42:00,2018-06-09 00:00:00,2022-11-17 21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F,2018.0,6.0,Evening,Evening,0 days 00:01:00
21,310389190,2018-11-18 00:00:00,2022-11-17 16:00:00,2018-11-18 00:00:00,2022-11-17 16:10:00,48.0,11/18/2018,105,ROBBERY,388.0,...,"(40.85035684, -73.882989431)",PATROL BORO BRONX,<18,WHITE HISPANIC,M,2018.0,11.0,Afternoon,Afternoon,0 days 00:10:00
31,412087799,2018-05-07 00:00:00,2022-11-17 15:00:00,2018-05-19 00:00:00,2022-11-17 18:00:00,47.0,05/21/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,"(40.881300913, -73.854337339)",PATROL BORO BRONX,<18,WHITE HISPANIC,F,2018.0,5.0,Afternoon,Afternoon,0 days 03:00:00
33,739896840,2018-12-08 00:00:00,2022-11-17 13:00:00,2018-12-08 00:00:00,2022-11-17 13:15:00,105.0,12/08/2018,578,HARRASSMENT 2,638.0,...,"(40.657727629, -73.770094944)",PATROL BORO QUEENS SOUTH,65+,BLACK,M,2018.0,12.0,Afternoon,Afternoon,0 days 00:15:00
40,172284068,2018-09-18 00:00:00,2022-11-17 18:30:00,2018-09-18 00:00:00,2022-11-17 18:45:00,79.0,09/18/2018,233,SEX CRIMES,175.0,...,"(40.688872153, -73.944529032)",PATROL BORO BKLYN NORTH,18-24,BLACK,F,2018.0,9.0,Afternoon,Afternoon,0 days 00:15:00

In [123]:
#taking out negative differences in time

mc = mc[mc['diff'] > pd.Timedelta(0)]

In [124]:
#adding new column for difference in minutes 

mc['diff_min'] = mc['diff'].apply(lambda x: x.total_seconds() /60)

In [125]:
mc.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,session,session_to,diff,diff_min
3,280364018,2018-06-09 00:00:00,2022-11-17 21:42:00,2018-06-09 00:00:00,2022-11-17 21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,PATROL BORO MAN SOUTH,18-24,WHITE HISPANIC,F,2018.0,6.0,Evening,Evening,0 days 00:01:00,1.0
21,310389190,2018-11-18 00:00:00,2022-11-17 16:00:00,2018-11-18 00:00:00,2022-11-17 16:10:00,48.0,11/18/2018,105,ROBBERY,388.0,...,PATROL BORO BRONX,<18,WHITE HISPANIC,M,2018.0,11.0,Afternoon,Afternoon,0 days 00:10:00,10.0
31,412087799,2018-05-07 00:00:00,2022-11-17 15:00:00,2018-05-19 00:00:00,2022-11-17 18:00:00,47.0,05/21/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,PATROL BORO BRONX,<18,WHITE HISPANIC,F,2018.0,5.0,Afternoon,Afternoon,0 days 03:00:00,180.0
33,739896840,2018-12-08 00:00:00,2022-11-17 13:00:00,2018-12-08 00:00:00,2022-11-17 13:15:00,105.0,12/08/2018,578,HARRASSMENT 2,638.0,...,PATROL BORO QUEENS SOUTH,65+,BLACK,M,2018.0,12.0,Afternoon,Afternoon,0 days 00:15:00,15.0
40,172284068,2018-09-18 00:00:00,2022-11-17 18:30:00,2018-09-18 00:00:00,2022-11-17 18:45:00,79.0,09/18/2018,233,SEX CRIMES,175.0,...,PATROL BORO BKLYN NORTH,18-24,BLACK,F,2018.0,9.0,Afternoon,Afternoon,0 days 00:15:00,15.0

In [128]:
mc.value_counts().sum()

729160

In [126]:
#new dataframe

mc.to_csv('mc.csv')