In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import csv

In [146]:
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv', usecols = ['CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC', 'PD_DESC', 
                                                               'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC',
                                                               'PREM_TYP_DESC', 'PARKS_NM', 'HADEVELOPT', 'SUSP_AGE_GROUP', 'SUSP_SEX',
                                                               'PATROL_BORO', 'STATION_NAME', 'VIC_AGE_GROUP', 'VIC_RACE', 
                                                               'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD'])

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [147]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,03/29/2018,20:30:00,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 4, OF MOTOR",COMPLETED,MISDEMEANOR,MANHATTAN,FRONT OF,PARKING LOT/GARAGE (PUBLIC),NaN,NaN,1000565.0,234704.0,NaN,NaN,PATROL BORO MAN NORTH,NaN,25-44,WHITE,F
1,02/06/2018,23:15:00,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BRONX,INSIDE,DEPARTMENT STORE,NaN,NaN,1009690.0,257590.0,45-64,F,PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,D
2,11/21/2018,00:15:00,PETIT LARCENY,"LARCENY,PETIT FROM AUTO",COMPLETED,MISDEMEANOR,BROOKLYN,FRONT OF,STREET,NaN,NaN,1016034.0,176756.0,25-44,F,PATROL BORO BKLYN NORTH,NaN,UNKNOWN,UNKNOWN,D
3,06/09/2018,21:42:00,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,COMPLETED,MISDEMEANOR,MANHATTAN,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,985717.0,215911.0,25-44,M,PATROL BORO MAN SOUTH,NaN,18-24,WHITE HISPANIC,F
4,11/10/2018,19:40:00,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,MANHATTAN,INSIDE,CHAIN STORE,NaN,NaN,992359.0,217816.0,<18,F,PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,D

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7825499 entries, 0 to 7825498
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_FR_DT       object
 1   CMPLNT_FR_TM       object
 2   OFNS_DESC          object
 3   PD_DESC            object
 4   CRM_ATPT_CPTD_CD   object
 5   LAW_CAT_CD         object
 6   BORO_NM            object
 7   LOC_OF_OCCUR_DESC  object
 8   PREM_TYP_DESC      object
 9   PARKS_NM           object
 10  HADEVELOPT         object
 11  SUSP_AGE_GROUP     object
 12  SUSP_SEX           object
 13  PATROL_BORO        object
 14  STATION_NAME       object
 15  VIC_AGE_GROUP      object
 16  VIC_RACE           object
 17  VIC_SEX            object
dtypes: object(18)
memory usage: 1.0+ GB

In [89]:
df.isna().sum()

CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
OFNS_DESC              18832
PD_DESC                 6761
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                12480
LOC_OF_OCCUR_DESC    1618063
PREM_TYP_DESC          42015
PARKS_NM             7794644
HADEVELOPT           7477110
SUSP_AGE_GROUP       4883369
SUSP_SEX             3648142
PATROL_BORO             7218
STATION_NAME         7653024
VIC_AGE_GROUP        1638445
VIC_RACE                 390
VIC_SEX                  308
dtype: int64

In [129]:
df.CMPLNT_FR_DT.value_counts()

01/01/2008    2281
01/01/2010    2258
01/01/2007    2252
01/01/2011    2147
01/01/2014    2050
              ...
04/05/1999       1
11/03/1985       1
12/20/1966       1
12/21/1994       1
04/01/1974       1
Name: CMPLNT_FR_DT, Length: 8899, dtype: int64

In [133]:
df.CMPLNT_FR_DT.nunique()

8899

In [91]:
df.SUSP_SEX.value_counts()

M    2604455
F     813496
U     759406
Name: SUSP_SEX, dtype: int64

In [116]:
df = df.loc[df["SUSP_SEX"] != 'U']

In [117]:
df.SUSP_SEX.value_counts()

M    2552194
F     805307
Name: SUSP_SEX, dtype: int64

In [92]:
df.VIC_AGE_GROUP.value_counts()

25-44      2600860
45-64      1358535
UNKNOWN     802994
18-24       789320
<18         353678
            ...
909              1
917              1
707              1
-923             1
-960             1
Name: VIC_AGE_GROUP, Length: 207, dtype: int64

In [93]:
df.dtypes  #object is a string

CMPLNT_FR_DT         object
CMPLNT_FR_TM         object
OFNS_DESC            object
PD_DESC              object
CRM_ATPT_CPTD_CD     object
LAW_CAT_CD           object
BORO_NM              object
LOC_OF_OCCUR_DESC    object
PREM_TYP_DESC        object
PARKS_NM             object
HADEVELOPT           object
SUSP_AGE_GROUP       object
SUSP_SEX             object
PATROL_BORO          object
STATION_NAME         object
VIC_AGE_GROUP        object
VIC_RACE             object
VIC_SEX              object
dtype: object

In [96]:
df.VIC_AGE_GROUP.unique()

array(['25-44', 'UNKNOWN', '18-24', nan, '<18', '45-64', '65+', '-942',
       '970', '1017', '-51', '954', '972', '951', '-55', '-1', '-966',
       '957', '-59', '-974', '-948', '956', '-962', '-2', '-65', '-936',
       '-81', '-40', '-37', '-973', '-5', '-957', '154', '-952', '-940',
       '-968', '-943', '-929', '-43', '-56', '-954', '943', '-961',
       '-967', '1018', '929', '936', '-71', '-50', '-69', '-67', '937',
       '-946', '941', '1013', '-39', '960', '927', '174', '938', '-984',
       '-978', '-970', '950', '-934', '-4', '-62', '-3', '-960', '-921',
       '-61', '-48', '963', '945', '-935', '-975', '-980', '-72', '946',
       '-959', '-958', '1014', '-931', '-972', '949', '-965', '-60',
       '1016', '932', '-31', '-963', '-938', '930', '-7', '-73', '-937',
       '-53', '-45', '-902', '-63', '-70', '-981', '928', '-964', '-950',
       '-884', '-971', '-945', '940', '-36', '-52', '-32', '922', '914',
       '947', '926', '-78', '999', '810', '980', '942', '-923', '711',
       '924', '-982', '933', '309', '152', '962', '-969', '-976', '151',
       '1004', '808', '738', '887', '912', '939', '709', '944', '812',
       '948', '-49', '-85', '160', '343', '-75', '214', '934', '953',
       '158', '838', '-915', '909', '809', '931', '311', '623', '908',
       '-955', '-956', '185', '-947', '923', '920', '508', '955', '895',
       '172', '811', '340', '925', '964', '959', '-953', '707', '952',
       '935', '961', '-932', '918', '917', '913', '260', '-47', '342',
       '509', '981', '324', '507', '-939', '983', '188', '911', '958',
       '359', '-983', '979', '806', '910', '-985', '921', '334', '901',
       '1012', '977', '-76', '965'], dtype=object)

In [15]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            1694758
PATROL BORO BKLYN SOUTH      1159651
PATROL BORO BKLYN NORTH      1154993
PATROL BORO MAN SOUTH         947193
PATROL BORO MAN NORTH         934870
PATROL BORO QUEENS NORTH      810279
PATROL BORO QUEENS SOUTH      754527
PATROL BORO STATEN ISLAND     362010
Name: PATROL_BORO, dtype: int64

In [25]:
df.STATION_NAME.value_counts()

125 STREET                        8546
14 STREET                         4684
42 ST.-PORT AUTHORITY BUS TERM    4073
34 ST.-PENN STATION               4041
116 STREET                        3442
                                  ...
DISTRICT 30 OFFICE                  19
DISTRICT 12 OFFICE                  19
DISTRICT 34 OFFICE                  14
DISTRICT 23 OFFICE                   6
OFF-SYSTEM                           4
Name: STATION_NAME, Length: 372, dtype: int64

In [28]:
df.CMPLNT_FR_DT.value_counts()

01/01/2010    2488
01/01/2014    2395
01/01/2016    2383
01/01/2011    2375
01/01/2008    2356
              ...
02/20/1998       1
08/23/2000       1
11/24/1960       1
07/25/1018       1
02/25/2002       1
Name: CMPLNT_FR_DT, Length: 9040, dtype: int64

In [29]:
df.CMPLNT_FR_TM.value_counts()

12:00:00    208276
15:00:00    174151
18:00:00    167067
20:00:00    158234
17:00:00    156866
             ...
06:56:00       218
06:41:00       215
05:51:00       213
05:31:00       204
00:00:01         1
Name: CMPLNT_FR_TM, Length: 1441, dtype: int64

In [30]:
df.OFNS_DESC.value_counts()

PETIT LARCENY                      1331246
HARRASSMENT 2                      1020122
ASSAULT 3 & RELATED OFFENSES        822614
CRIMINAL MISCHIEF & RELATED OF      789690
GRAND LARCENY                       679846
                                    ...
FORTUNE TELLING                         12
ABORTION                                 7
OFFENSES AGAINST MARRIAGE UNCL           5
UNDER THE INFLUENCE OF DRUGS             3
KIDNAPPING AND RELATED OFFENSES          3
Name: OFNS_DESC, Length: 71, dtype: int64

In [122]:
df = df.loc[df["OFNS_DESC"] != 'nan']

In [123]:
df.OFNS_DESC.unique()

array(['CRIMINAL MISCHIEF & RELATED OF', 'PETIT LARCENY',
       'OFF. AGNST PUB ORD SENSBLTY &', 'FORGERY', 'DANGEROUS WEAPONS',
       'ASSAULT 3 & RELATED OFFENSES', 'FELONY ASSAULT',
       'OFFENSES AGAINST PUBLIC ADMINI', 'GRAND LARCENY', 'ROBBERY',
       'HARRASSMENT 2', 'DANGEROUS DRUGS', 'SEX CRIMES',
       'VEHICLE AND TRAFFIC LAWS', 'OTHER OFFENSES RELATED TO THEF',
       'CRIMINAL TRESPASS', 'OFFENSES AGAINST THE PERSON',
       'POSSESSION OF STOLEN PROPERTY', 'MISCELLANEOUS PENAL LAW',
       'BURGLARY', 'ARSON', 'GRAND LARCENY OF MOTOR VEHICLE', 'RAPE',
       'OFFENSES INVOLVING FRAUD', 'INTOXICATED & IMPAIRED DRIVING',
       'UNAUTHORIZED USE OF A VEHICLE', 'NYS LAWS-UNCLASSIFIED FELONY',
       'OTHER STATE LAWS (NON PENAL LA', 'FRAUDS', 'ADMINISTRATIVE CODE',
       'THEFT-FRAUD', nan, 'OFFENSES AGAINST PUBLIC SAFETY',
       'DISORDERLY CONDUCT', 'ANTICIPATORY OFFENSES', 'JOSTLING',
       'KIDNAPPING & RELATED OFFENSES', 'MURDER & NON-NEGL. MANSLAUGHTER',
       'ALCOHOLIC BEVERAGE CONTROL LAW', 'THEFT OF SERVICES',
       "BURGLAR'S TOOLS", 'FRAUDULENT ACCOSTING', 'GAMBLING',
       'PETIT LARCENY OF MOTOR VEHICLE',
       'AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
       'PROSTITUTION & RELATED OFFENSES', 'CHILD ABANDONMENT/NON SUPPORT',
       'OFFENSES RELATED TO CHILDREN', 'ENDAN WELFARE INCOMP', 'ABORTION',
       'NYS LAWS-UNCLASSIFIED VIOLATION', 'OTHER STATE LAWS',
       'INTOXICATED/IMPAIRED DRIVING', 'ESCAPE 3',
       'LOITERING/GAMBLING (CARDS, DIC', 'HOMICIDE-NEGLIGENT,UNCLASSIFIE',
       'NEW YORK CITY HEALTH CODE', 'KIDNAPPING',
       'UNLAWFUL POSS. WEAP. ON SCHOOL', 'UNDER THE INFLUENCE OF DRUGS',
       'OTHER TRAFFIC INFRACTION', 'ADMINISTRATIVE CODES',
       'OTHER STATE LAWS (NON PENAL LAW)', 'HOMICIDE-NEGLIGENT-VEHICLE',
       'DISRUPTION OF A RELIGIOUS SERV', 'FELONY SEX CRIMES',
       'OFFENSES AGAINST MARRIAGE UNCL', 'FORTUNE TELLING',
       'KIDNAPPING AND RELATED OFFENSES', 'LOITERING',
       'LOITERING FOR DRUG PURPOSES', 'LOITERING/DEVIATE SEX'],
      dtype=object)

In [31]:
df.PD_DESC.value_counts()

ASSAULT 3                           676780
HARASSMENT,SUBD 3,4,5               668605
LARCENY,PETIT FROM STORE-SHOPL      402081
AGGRAVATED HARASSMENT 2             390612
HARASSMENT,SUBD 1,CIVILIAN          351525
                                     ...
PUBLIC HEALTH LAW,GLUE,INHALAT           1
AGGRAVATED GRAND LARCENY OF ATM          1
ANARCHY,CRIMINAL                         1
USE CHILD TO COMMIT CONT SUB OFF         1
ABORTIONAL ARTICLES,ISSUING              1
Name: PD_DESC, Length: 422, dtype: int64

In [126]:
df = df.loc[df["PD_DESC"] != 'nan']

In [51]:
df.PD_DESC.nunique()

422

In [128]:
#df.PD_DESC.unique()

In [32]:
df.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    7692989
ATTEMPTED     132342
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [113]:
df = df.loc[df["CRM_ATPT_CPTD_CD"] != 'ATTEMPTED']

In [114]:
df.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    7692985
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [33]:
df.LAW_CAT_CD.value_counts()

MISDEMEANOR    4366279
FELONY         2423773
VIOLATION      1035447
Name: LAW_CAT_CD, dtype: int64

In [34]:
df.BORO_NM.value_counts()

BROOKLYN         2313143
MANHATTAN        1882292
BRONX            1693981
QUEENS           1561712
STATEN ISLAND     361891
Name: BORO_NM, dtype: int64

In [35]:
df.LOC_OF_OCCUR_DESC.value_counts()

INSIDE         3989246
FRONT OF       1843909
OPPOSITE OF     204956
REAR OF         165162
OUTSIDE           4163
Name: LOC_OF_OCCUR_DESC, dtype: int64

In [36]:
df.PREM_TYP_DESC.value_counts()

STREET                        2479952
RESIDENCE - APT. HOUSE        1673484
RESIDENCE-HOUSE                772809
RESIDENCE - PUBLIC HOUSING     585590
OTHER                          209092
                               ...
MAILBOX INSIDE                    895
CEMETERY                          885
LOAN COMPANY                      521
TRAMWAY                           146
DAYCARE FACILITY                   71
Name: PREM_TYP_DESC, Length: 74, dtype: int64

In [37]:
df.PARKS_NM.value_counts()

CENTRAL PARK                      1856
FLUSHING MEADOWS CORONA PARK      1532
CONEY ISLAND BEACH & BOARDWALK    1161
WASHINGTON SQUARE PARK            1063
RIVERSIDE PARK                     680
                                  ...
QUEENS FARM PARK                     1
BARCLAY TRIANGLE                     1
O'BRIEN OVAL                         1
RISSE STREET PARK                    1
FLOOD TRIANGLE                       1
Name: PARKS_NM, Length: 1233, dtype: int64

In [38]:
df.HADEVELOPT.value_counts()

CASTLE HILL                 7555
VAN DYKE I                  6108
MARCY                       5597
GRANT                       5296
BUTLER                      5231
                            ...
JEFFERSON                      1
BRONXCHESTER                   1
FRANKLIN AVENUE III MHOP       1
1010 EAST 178TH STREET         1
344 EAST 28TH STREET           1
Name: HADEVELOPT, Length: 279, dtype: int64

In [39]:
df.SUSP_AGE_GROUP.value_counts()

25-44      1130265
UNKNOWN     842769
18-24       418316
45-64       400780
<18         115392
            ...
-60              1
-83              1
-12              1
927              1
953              1
Name: SUSP_AGE_GROUP, Length: 120, dtype: int64

In [40]:
df.SUSP_SEX.value_counts()

M    2604455
F     813496
U     759406
Name: SUSP_SEX, dtype: int64

In [41]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            1694758
PATROL BORO BKLYN SOUTH      1159651
PATROL BORO BKLYN NORTH      1154993
PATROL BORO MAN SOUTH         947193
PATROL BORO MAN NORTH         934870
PATROL BORO QUEENS NORTH      810279
PATROL BORO QUEENS SOUTH      754527
PATROL BORO STATEN ISLAND     362010
Name: PATROL_BORO, dtype: int64

In [102]:
df.STATION_NAME.value_counts()

125 STREET                        8546
14 STREET                         4684
42 ST.-PORT AUTHORITY BUS TERM    4073
34 ST.-PENN STATION               4041
116 STREET                        3442
                                  ...
DISTRICT 30 OFFICE                  19
DISTRICT 12 OFFICE                  19
DISTRICT 34 OFFICE                  14
DISTRICT 23 OFFICE                   6
OFF-SYSTEM                           4
Name: STATION_NAME, Length: 372, dtype: int64

In [99]:
df.STATION_NAME.nunique()

372

In [101]:
df[df["STATION_NAME"].str.contains("OFF-SYSTEM")==False]

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
5,03/12/2018,11:48:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,125 STREET,UNKNOWN,UNKNOWN,E
74,11/02/2018,16:00:00,ROBBERY,"ROBBERY,PUBLIC PLACE INSIDE",ATTEMPTED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,45-64,M,PATROL BORO MAN NORTH,145 STREET,UNKNOWN,UNKNOWN,E
112,10/08/2018,22:00:00,CRIMINAL MISCHIEF & RELATED OF,CRIMINAL MIS 2 & 3,COMPLETED,FELONY,BROOKLYN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,UTICA AVE.-CROWN HEIGHTS,UNKNOWN,UNKNOWN,D
116,02/27/2018,09:40:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,UNKNOWN,U,PATROL BORO MAN SOUTH,CANAL STREET,25-44,WHITE,F
152,02/25/2018,00:01:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO MAN SOUTH,LEXINGTON AVE.,45-64,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7825268,02/07/2018,03:45:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING...",COMPLETED,FELONY,BROOKLYN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,25-44,M,PATROL BORO BKLYN NORTH,NEW LOTS AVENUE,65+,WHITE,M
7825279,11/09/2018,16:49:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,BROOKLYN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,18-24,M,PATROL BORO BKLYN SOUTH,BAY PARKWAY,<18,WHITE HISPANIC,F
7825308,12/05/2018,23:30:00,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,UNKNOWN,M,PATROL BORO MAN SOUTH,14 STREET,45-64,WHITE HISPANIC,M
7825321,12/12/2018,08:05:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO MAN SOUTH,59 ST.-COLUMBUS CIRCLE,45-64,WHITE,F
7825467,07/03/2018,13:00:00,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,COMPLETED,MISDEMEANOR,BROOKLYN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,UNKNOWN,M,PATROL BORO BKLYN SOUTH,NEWKIRK AVENUE,25-44,WHITE,F

In [138]:
dfs = df.loc[df["PREM_TYP_DESC"] == 'TRANSIT - NYC SUBWAY']

In [139]:
dfs.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,SUSP_AGE_GROUP,SUSP_SEX,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
5,03/12/2018,11:48:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,125 STREET,UNKNOWN,UNKNOWN,E
112,10/08/2018,22:00:00,CRIMINAL MISCHIEF & RELATED OF,CRIMINAL MIS 2 & 3,COMPLETED,FELONY,BROOKLYN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,UTICA AVE.-CROWN HEIGHTS,UNKNOWN,UNKNOWN,D
152,02/25/2018,00:01:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,NaN,NaN,PATROL BORO MAN SOUTH,LEXINGTON AVE.,45-64,BLACK,M
172,06/09/2018,15:54:00,GRAND LARCENY,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,FELONY,BRONX,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,<18,M,PATROL BORO BRONX,TREMONT AVENUE,45-64,WHITE HISPANIC,F
226,03/01/2018,08:47:00,SEX CRIMES,"SEXUAL ABUSE 3,2",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,18-24,M,PATROL BORO MAN SOUTH,14 STREET,25-44,ASIAN / PACIFIC ISLANDER,F

In [140]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154286 entries, 5 to 7825467
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_FR_DT       154281 non-null  object
 1   CMPLNT_FR_TM       154286 non-null  object
 2   OFNS_DESC          151858 non-null  object
 3   PD_DESC            154286 non-null  object
 4   CRM_ATPT_CPTD_CD   154286 non-null  object
 5   LAW_CAT_CD         154286 non-null  object
 6   BORO_NM            154084 non-null  object
 7   LOC_OF_OCCUR_DESC  1018 non-null    object
 8   PREM_TYP_DESC      154286 non-null  object
 9   PARKS_NM           5 non-null       object
 10  HADEVELOPT         1 non-null       object
 11  SUSP_AGE_GROUP     48542 non-null   object
 12  SUSP_SEX           68612 non-null   object
 13  PATROL_BORO        154286 non-null  object
 14  STATION_NAME       153566 non-null  object
 15  VIC_AGE_GROUP      98503 non-null   object
 16  VIC_RACE           154278 non-null  object
 17  VIC_SEX            154279 non-null  object
dtypes: object(18)
memory usage: 22.4+ MB

In [151]:
dfs.isna().sum()

CMPLNT_FR_DT              5
CMPLNT_FR_TM              0
OFNS_DESC              2428
PD_DESC                   0
CRM_ATPT_CPTD_CD          0
LAW_CAT_CD                0
BORO_NM                 202
LOC_OF_OCCUR_DESC    153268
PREM_TYP_DESC             0
PARKS_NM             154281
HADEVELOPT           154285
SUSP_AGE_GROUP       105744
SUSP_SEX              85674
PATROL_BORO               0
STATION_NAME            720
VIC_AGE_GROUP         55783
VIC_RACE                  8
VIC_SEX                   7
dtype: int64

In [109]:
#setting the new df equal to station name equals everything except off-system. Not finalized until you set
#it equal to the new df

df = df.loc[df["STATION_NAME"] != 'OFF-SYSTEM']

In [110]:
df.STATION_NAME.value_counts()

125 STREET                        8546
14 STREET                         4684
42 ST.-PORT AUTHORITY BUS TERM    4073
34 ST.-PENN STATION               4041
116 STREET                        3442
                                  ...
AQUEDUCT-RACETRACK                  20
DISTRICT 30 OFFICE                  19
DISTRICT 12 OFFICE                  19
DISTRICT 34 OFFICE                  14
DISTRICT 23 OFFICE                   6
Name: STATION_NAME, Length: 371, dtype: int64

In [43]:
df.VIC_AGE_GROUP.value_counts()   #duplicate

25-44      2600860
45-64      1358535
UNKNOWN     802994
18-24       789320
<18         353678
            ...
909              1
917              1
707              1
-923             1
-960             1
Name: VIC_AGE_GROUP, Length: 207, dtype: int64

In [44]:
df.VIC_RACE.value_counts()

UNKNOWN                           2558666
BLACK                             1888574
WHITE                             1335448
WHITE HISPANIC                    1273164
ASIAN / PACIFIC ISLANDER           464240
BLACK HISPANIC                     270068
AMERICAN INDIAN/ALASKAN NATIVE      34918
OTHER                                  31
Name: VIC_RACE, dtype: int64

In [45]:
df.VIC_SEX.value_counts()

F    3068309
M    2593114
E    1188435
D     975329
U          4
Name: VIC_SEX, dtype: int64

In [118]:
df = df.loc[df["VIC_SEX"] != 'U']

In [119]:
df.VIC_SEX.value_counts()

F    2745189
M    2190599
E    1148286
D     861821
Name: VIC_SEX, dtype: int64